﻿@using Samsung.Helper;
@{
    var action = System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("action");
}
<!doctype html>
<html class="no-js" lang="">
<head>
    <base href="@UrlHelperPage.BaseUrl" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- SEO -->

    <title>@ViewBag.Title</title>
    @if (ViewBag.Desc != null)
    {
        <meta name="description" content="@(ViewBag.Desc)">
    }
    else
    {
       <meta name="description" content="Samsung QLED TV mang đến màu sắc hoàn hảo và trải nghiệm xem đặc biệt sâu hơn, thật hơn với độ sắc nét hoàn hảo của từng khung hình bất kể ngày đêm. Khám phá ngay!">
    }
    @if (ViewBag.Keyword != null)
    {
        <meta name="keywords" content="@(ViewBag.Keyword)">
    }
    else
    {
        <meta name="keywords" content="QLED, quantum dot, Q picture, 4K, TV 4K tốt nhất, Q color, màu sắc, Q contrast, Q HDR, Q HDR2000, QHDR1500, chi tiết, Q viewing angle">
    }

    <meta property="og:url" content="@Request.Url.ToString()" />
    <meta property="og:title" content="@Html.Raw(ViewBag.TitleSocial)" />
    <meta property="og:description" content="@Html.Raw((String)ViewBag.DescSocial)" />
    <meta property="og:image" content="@Html.Raw(ViewBag.Image)" />
    <meta property="fb:app_id" content="@Samsung.Properties.Settings.Default.FacebookAppId" />

    <link rel="image_src" href="assets/images/favicon.gif" />
    <link rel="icon" type="image/gif" href="assets/images/favicon.ico" />

    <!-- Spiders must use meta description -->

    <meta name="robots" content="noodp, noydir">

    <!-- No Google Translate toolbar -->

    <meta name="google" content="notranslate">

    <!-- Viewport and mobile -->

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">
    <meta name="webroot" content="@UrlHelperPage.Webroot" />
    <meta name="siteUrl" content="@Request.Url.ToString()" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/main.css")">
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/ie.css")" />
    <![endif]-->
    <script>
        var action = '@action';
        var urlShare = '@Url.RouteUrl("library")';
    </script>
    @if (Samsung.Properties.Settings.Default.Environment.Equals("statging"))
    {
        <script src="@Url.Content("~/assets/js/s_code_micrositetest.js")"></script>
    }
    else
    {
        <script src="@Url.Content("~/assets/js/s_code_microsite.js")"></script>
    }
</head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65210468-38', 'auto');
  ga('send', 'pageview');

</script>
<body>

    <div class="dgt_header">
        <div class="dgt_contain">
            <a href="@Url.Action("Index","Home")" class="logo" onclick="omniture_click('vn:trainghiemqled:logo');"></a>
            <ul id="dgt_nav">
                <li>
                    <a onclick="omniture_click('vn:trainghiemqled:menu:dienanhdinhcao');" class="@(action == "Qcinema" || action == "Library" || action == "LibraryPhoto" || action == "Films"  ? "active" : "")" href="@Url.RouteUrl("qcinema")">Qcinema</a>
                    <div class="dgt_subheader">
                        <ul>
                            <li><a href="@Url.RouteUrl("library")" onclick="omniture_click('vn:trainghiemqled:menu:dienanhdinhcao:thuvienphim');">THƯ VIỆN PHIM</a></li>
                            <li><a href="@Url.RouteUrl("review")" onclick="omniture_click('vn:trainghiemqled:menu:dienanhdinhcao:camnhancuakhachang');">CẢM NHẬN CỦA KHÁN GIẢ</a></li>
                            <li><a href="@Url.RouteUrl("library-image")" onclick="omniture_click('vn:trainghiemqled:menu:dienanhdinhcao:hinhanh');" >HÌNH ẢNH</a></li>
                            <li class="dgt_pc"><a href="http://www.samsung.com/vn/tvs/qled-q8c/QA75Q8CAMKXXV/" target="_blank"  onclick="omniture_click('vn:trainghiemqled:menu:dienanhdinhcao:khamphaqledtv'); engagement_click('QA75Q8CAMKXXV|;QA75Q8CAMK');">ĐẶT MUA QLED TV</a></li>
                            <li class="dgt_pc"><a href="http://www.samsung.com/vn/audio-video/soundbar/"  target="_blank" onclick="omniture_click('vn:trainghiemqled:menu:dienanhdinhcao:khamphasoundbar'); engagement_click('HW-MS6501/XV|;HW-MS6501');">ĐẶT MUA SOUNDBAR</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="@(action == "QSuite" || action == "Hotel1" || action == "Hotel2" || action == "QsuiteRegister" || action == "QsuiteReview" || action == "WinnerQsuite" ? "active" : "")" href="@Url.RouteUrl("qsuite")" onclick="omniture_click('vn:trainghiemqled:menu:phongcachdinhcao');">Qsuite</a>
                    <div class="dgt_subheader js_qsuite__menu">
                        <ul>
                            <li><a href="@Url.RouteUrl("hotel1")" onclick="omniture_click('vn:trainghiemqled:menu:phongcachdinhcao:jw-marriot-hanoi');">JW Marriott</a></li>
                            <li><a href="@Url.RouteUrl("hotel2")" onclick="omniture_click('vn:trainghiemqled:menu:phongcachdinhcao:le-meridien-hotel');">Le Méridien</a></li>
                            <li><a href="@Url.RouteUrl("qsuitereview")" onclick="omniture_click('vn:trainghiemqled:menu:phongcachdinhcao:cam-nhan-trai-nghiem');">CẢM NHẬN CỦA NGƯỜI TRẢI NGHIỆM</a></li>
                            <li><a href="@Url.RouteUrl("winner_qsuite")" onclick="omniture_click('vn:trainghiemqled:menu:phongcachdinhcao:danh-sach-nguoi-thang-cuoc');">Danh sách người thắng cuộc</a></li>
                            <li class="dgt_pc"><a href="http://www.samsung.com/vn/tvs/qled-q8c/QA75Q8CAMKXXV/" target="_blank"  onclick="omniture_click('vn:trainghiemqled:menu:dienanhdinhcao:khamphaqledtv'); engagement_click('QA75Q8CAMKXXV|;QA75Q8CAMK');">ĐẶT MUA QLED TV</a></li>
                            <li class="dgt_pc"><a href="http://www.samsung.com/vn/audio-video/soundbar/"  target="_blank" onclick="omniture_click('vn:trainghiemqled:menu:dienanhdinhcao:khamphasoundbar'); engagement_click('HW-MS6501/XV|;HW-MS6501');">ĐẶT MUA SOUNDBAR</a></li>
                        </ul>
                    </div>
                </li>
                <li >
                    <a class="@(action == "Qhome" || action == "QhomeGallery" || action == "QhomeJoin" || action == "WinnerQhome" ? "active" : "")" href="@Url.RouteUrl("qhome")" onclick="omniture_click('vn:trainghiemqled:menu:kientaophongkhach');" >Qhome</a>
                    <div class="dgt_subheader js_qhome__menu">
                        <ul>
                            <li><a href="@Url.RouteUrl("qhomejoin")" onclick="omniture_click('vn:trainghiemqled:menu:kientaophongkhach:register');">Tham gia</a></li>
                            
                            <li><a href="@Url.RouteUrl("qhomegallery")" onclick="omniture_click('vn:trainghiemqled:menu:kientaophongkhach:thuvienhinhanh');">HÌNH ẢNH</a></li>
                            <li><a href="@Url.RouteUrl("winner_qhome")" onclick="omniture_click('vn:trainghiemqled:menu:kientaophongkhach:danhsachnguoithangcuoc');">Danh sách người thắng cuộc </a></li>
                            <li><a href="http://www.samsung.com/vn/tvs/qled-q8c/QA75Q8CAMKXXV/" target="_blank" onclick="omniture_click('vn:trainghiemqled:menu:kientaophongkhach:khamphaqledtv'); engagement_click('QA75Q8CAMKXXV|;QA75Q8CAMK');">ĐẶT MUA QLED TV</a></li>
                            <li><a href="http://www.samsung.com/vn/audio-video/soundbar/" target="_blank" onclick="omniture_click('vn:trainghiemqled:menu:kientaophongkhach:khamphasoundbar'); engagement_click('HW-MS6501/XV|;HW-MS6501');">ĐẶT MUA SOUNDBAR</a></li>
                        </ul>
                    </div>
                </li>
                <li class="dgt_mb">
                    <div class="dgt_socials">
                        <a href="https://www.facebook.com/SamsungVietnam" target="_blank" class="ql_fb" onclick="omniture_click('vn:trainghiemqled:menu:facebook');"></a>
                        <a href="https://www.youtube.com/user/SamsungVietnam" target="_blank" class="ql_ytb" onclick="omniture_click('vn:trainghiemqled:menu:youtube');"></a>
                    </div>
                </li>
            </ul>
            <div class="dgt_socials">
                <a href="https://www.facebook.com/SamsungVietnam" target="_blank" class="ql_fb" onclick="omniture_click('vn:trainghiemqled:menu:facebook');"></a>
                <a href="https://www.youtube.com/user/SamsungVietnam" target="_blank" class="ql_ytb" onclick="omniture_click('vn:trainghiemqled:menu:youtube');"></a>
            </div>
        </div>
        <div class="menu-toggle-wrapper" aria-hidden="true">
            <button class="btn-menu menu-closed">
               <span class="menu-icon"></span>
            </button>
        </div>
    </div>
    <section id="@ViewBag.ClassCss" class="@(action == "QsuiteReview" ? "dgtQsuiteReview" : action == "WinnerQsuite" ? "qSuitewinner" : "")">
        @RenderBody()
    </section>
    @if (@action == "QhomeJoin")
    {
        @Html.Partial("_PartialQJoin");
    }
    <div class="dgt_popup" id="dgt_alert2">
        <div class="dgt_copy">
            <a href="@Url.Action("Index","Home")" class="btn-close" onclick="omniture_click('vn:trainghiemqled:hoantatdatve:close-btn');"><img src="assets/images/i-close.png" /></a>
            <img src="assets/images/tv2.png">
            <h5>Bạn đã hoàn tất thủ tục đặt vé</h5>
            <p>
                Vui lòng đợi hệ thống xác nhận trong 24h giờ và cập nhận thông tin xác
                nhận qua email hoặc tin nhắn của bạn. Chân thành cảm ơn!
            </p>
            <p>
                <small>
                    * Để đảm bảo thời gian cho xuất chiếu phim và chất lượng phục vụ, xin vui lòng tới
                    QCinema 30 phút trước giờ chiếu để hoàn tất thủ tục nhận vé, nếu không
                    vé sẽ tự động huỷ
                </small>
            </p>
            <p>Chia sẻ để bạn bè cùng tham gia trải nghiệm</p>
            <a href="javascript:;" class="dgt_btn" onclick="omniture_click('vn:trainghiemqled:hoantatdatve:fb-sharing');">Chia sẻ trên Facebook</a>
        </div>
        <span class="ovl"></span>
    </div>

    <div class="dgt_popup" id="dgt_preloader">
      <p><img src="assets/images/preloader.gif"></p>
      <span class="ovl"></span>
    </div>
    <!-- inject:js -->
    <script src="@Url.Content("~/assets/js/libs/jquery-1.11.1.js")"></script>
    <script src="@Url.Content("~/assets/js/underscore.js")"></script>
    <script src="@Url.Content("~/assets/js/backbone.js")"></script>

    @if (action == "Library" || action == "Films" )
    {
            <script src="@Url.Content("~/assets/js/moment.min.js")"></script>
            <script src="@Url.Content("~/assets/js/moment-timezone-with-data.min.js")"></script>
    }
    @if (action == "QhomeJoin")
    {
        <script src="@Url.Content("~/assets/js/imagerotate.js")"></script>
    }
    <script src="assets/js/function.js"></script>
    <script src="assets/js/modules/gscript.js"></script>
    <script src="assets/js/modules/main.js"></script>


    <div class="dgt_popup" id="dgt_alert">
        <div class="dgt_copy">
            <a href="#" class="btn-close btn-close-2" onclick="omniture_click('vn:kientaophongkhach:dangkyhoantat:close-btn');"><img src="assets/images/i-close.png" /></a>
            <img src="assets/images/tv2.png">
            <h5>Bạn đã hoàn tất thủ tục đặt vé</h5>
            <p>
                Vui lòng đợi hệ thống xác nhận trong 24h giờ và cập nhận thông tin xác
                nhận qua email hoặc tin nhắn của bạn. Chân thành cảm ơn!
            </p>
            <p>
                <small>
                    * Để đảm bảo thời gian cho xuất chiếu phim và chất lượng phục vụ, xin vui lòng tới
                    QCinema 30 phút trước giờ chiếu để hoàn tất thủ tục nhận vé, nếu không
                    vé sẽ tự động huỷ
                </small>
            </p>
            <a href="javascript:;" class="dgt_btn" onclick="omniture_click('vn:kientaophongkhach:hoantatdangky:fb-sharing');">Chia sẻ trên Facebook</a>
        </div>
        <span class="ovl"></span>
    </div>
   

</body>
</html>


@if (action == "Films" || action == "Hotel1" || action == "Hotel2" || action == "QhomeJoin" || action == "Qhome" || action == "QhomeRegister" || action == "QsuiteRegister")
{
    <script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '@Samsung.Properties.Settings.Default.FacebookAppId',
                    xfbml: true,
                    version: 'v2.9'
                });
                FB.AppEvents.logPageView();
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

    </script>
}
@Html.AntiForgeryToken()