﻿<div class="dgt_footer">
    <div class="dgt_contain">
        <div class="dgt_socials">
            <a href="https://www.facebook.com/SamsungVietnam" target="_blank" class="ql_fb" onclick="omniture_click('vn:trainghiemqled:footer:facebook');"></a>
            <a href="https://www.youtube.com/user/SamsungVietnam" target="_blank" class="ql_ytb" onclick="omniture_click('vn:trainghiemqled:footer:youtube');"></a>
        </div>
    </div>
</div>