﻿@{
    string action = action = System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("action");
    string message = "";
    switch(action){
        case "QsuiteRegister":
            message = "Hãy theo dõi danh sách người chiến thắng may mắn trên website. Chia sẻ ngay để bạn bè cùng có cơ hội trải nghiệm! ";
            break;
        case "QhomeJoin":
            message = "Hãy theo dõi danh sách người chiến thắng may mắn trên website. Chia sẻ ngay để bạn bè cùng có cơ hội được kiến tạo phòng khách!";
            break;
    }
}

<div class="dgt_popup" id="dgt_alert_q_register">
    <div class="dgt_copy">
        <a href="@Url.Action("Index", "Home")" class="btn-close btn-close-3" onclick="omniture_click('vn:kientaophongkhach:dangkyhoantat:close-btn');"><img src="assets/images/i-close.png" /></a>
        <img src="assets/images/tv2.png">
        <h5>Bạn đã hoàn tất thủ tục đăng ký</h5>
        <p>
            @message
        </p>

        <a href="javascript:;" class="dgt_btn" onclick="omniture_click('vn:kientaophongkhach:hoantatdangky:fb-sharing');">Chia sẻ trên Facebook</a>
    </div>
    <span class="ovl"></span>
</div>