﻿@if (Samsung.Properties.Settings.Default.Environment.Equals("statging"))
{
    <!-- Omniture -->
    <script type="text/javascript">
    var OMNI_CAMPAIGN_NAME = "tv:trainghiemqled";
    var OMNI_PAGE_NAME = "@this.ViewData["PageName"].ToString()";
    s.channel = "vn:campaign";
    s.pageName = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    s.hier1 = "vn>campaign>savina>" + OMNI_CAMPAIGN_NAME + ">" + OMNI_PAGE_NAME;
    s.prop1 = "vn";
    s.prop2 = "vn:campaign";
    s.prop3 = "vn:campaign:savina";
    s.prop4 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + "";
    s.prop5 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    function omniture_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar33,events";
        s.linkTrackEvents = "event45";
        s.eVar33 = ClickName;
        s.events = "event45";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }
    function engagement_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar35,eVar41,products,events";
        s.linkTrackEvents = "event35";
        var evarData = ClickName.split("|");
        s.eVar35 = "buy now";
        s.eVar41 = evarData[0];
        s.products = evarData[1];
        s.events = "event35";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript" type="text/javascript">
        if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
    </script>
    <noscript>
        <a href="http://www.omniture.com" title="Web Analytics">
            <img src="http://nmetrics.samsung.com/b/ss/sssamsung4vn,sssamsung4mstglobal/1/H.24--NS/0" height="1" width="1"
                 border="0" alt="dot" />
        </a>
    </noscript>
    <!--// Omniture -->
}
else
{
    <!-- Omniture -->
    <script type="text/javascript">
        var OMNI_CAMPAIGN_NAME = "tv:trainghiemqled";
        var OMNI_PAGE_NAME = "@this.ViewData["PageName"].ToString()";
        s.channel = "vn:campaign";
        s.pageName = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
        s.hier1 = "vn>campaign>savina>" + OMNI_CAMPAIGN_NAME + ">" + OMNI_PAGE_NAME;
        s.prop1 = "vn";
        s.prop2 = "vn:campaign";
        s.prop3 = "vn:campaign:savina";
        s.prop4 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + "";
        s.prop5 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
        function omniture_click(ClickName) {
            var s = s_gi(s_account);
            s.linkTrackVars = "eVar33,events";
            s.linkTrackEvents = "event45";
            s.eVar33 = ClickName;
            s.events = "event45";
            s.tl(this, 'o', ClickName);
            s.linkTrackVars = "none";
            s.linkTrackEvents = "none";
        }
        function engagement_click(ClickName) {
            var s = s_gi(s_account);
            s.linkTrackVars = "eVar35,eVar41,products,events";
            s.linkTrackEvents = "event35";
            var evarData = ClickName.split("|");
            s.eVar35 = "buy now";
            s.eVar41 = evarData[0];
            s.products = evarData[1];
            s.events = "event35";
            s.tl(this, 'o', ClickName);
            s.linkTrackVars = "none";
            s.linkTrackEvents = "none";
        }
        var s_code = s.t();
        if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript" type="text/javascript">
        if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
    </script>
    <noscript>
        <a href="http://www.omniture.com" title="Web Analytics">
            <img src="http://nmetrics.samsung.com/b/ss/ssmicrositetest/1/H.24--NS/0" height="1" width="1"
                 border="0" alt="dot" />
        </a>
    </noscript>
    <!--// Omniture -->


}