﻿@{
    //Samsung.Models.UsersRegister ur = ViewBag.UserResgister;
    string h = ViewBag.HotelName;
    string hotelUrl = h == "khach-san-jw-marriott" ? "http://www.marriott.com/hotel-search/vietnam.hotels.jw-marriott-hotels-resorts-and-suites/" : "http://www.lemeridiensaigon.com/";
}
<script>
    var urlLoginFacebook = '@Url.RouteUrl("facebook_login")';
</script>
<div class="dgt_wrapper">

    <div class="dgt_gallery__wrapper">
        <section class="dgt_gallery__register js_dgt__gallery">
            <div>
                <img src="@Url.Content("~/assets/images/leMeridien/1.png")" class="thumb">
                <p class="dgt_desc">Thưởng thức phim ảnh đỉnh cao với QLED TV và dàn loa MS650 tuyệt vời trong không gian đẳng cấp</p>
             </div>
            <div>
                <img src="@Url.Content("~/assets/images/leMeridien/2.png")" class="thumb">
                <p class="dgt_desc">Ghi lại những phút giây lãng mạn với bữa tối sang trọng chuẩn 5 sao</p>
             </div>
            <div>
                <img src="@Url.Content("~/assets/images/leMeridien/3.png")" class="thumb"> 
                <p class="dgt_desc">Trải nghiệm hình ảnh sống động như thật trên QLED TV đẳng cấp</p>
            </div>
            <div>
                <img src="@Url.Content("~/assets/images/leMeridien/4.png")" class="thumb">
                <p class="dgt_desc">Tận hưởng mọi tiện nghi của không gian sống thượng lưu trong tầm tay</p>
                
             </div>
            <div>
                <img src="@Url.Content("~/assets/images/leMeridien/5.png")" class="thumb"> 
                <p class="dgt_desc">Đắm chìm vào những giây phút nghe nhạc thư giãn với âm thanh tuyệt vời từ dàn loa K950</p>
            </div>
            <div>
            
                <img src="@Url.Content("~/assets/images/leMeridien/6.png")" class="thumb">
                <p class="dgt_desc">Thoải mái sử dụng hồ bơi, phòng gym và phòng sauna độc quyền</p>
             </div>
            <div>
                <img src="@Url.Content("~/assets/images/leMeridien/7.png")" class="thumb"> 
                <p class="dgt_desc">Điều khiển mọi ứng dụng và thiết bị đầu thu chỉ với duy nhất một điều khiển One remote</p>
            </div>
            <div><img src="@Url.Content("~/assets/images/leMeridien/8.png")" class="thumb"> 
                <p class="dgt_desc">Trải nghiệm kho phim bom tấn chất lượng 4K phong phú và đặc sắc như xem ngoài rạp (Now You See Me, Ender’s Game, The Expendables 3…)</p>
            </div>
        </section>
        <span class="slick-prev"></span>
        <span class="slick-next"></span>
    </div>

   

    <div class="dgt_qsuite__wrapper">
        <h3>Grande Suite</h3>
        <div class="dgt_qsuite__copy">
            <ul class="dgt_utility">
                <li>
                    <img src="@Url.Content("~/assets/images/i-house.png")">
                    <p>Phòng suite</p>
                </li>
                <li>
                    <img src="@Url.Content("~/assets/images/i-group.png")">
                    <p>2 Khách </p>
                </li>
                <li>
                    <img src="@Url.Content("~/assets/images/i-tivi.png")">
                    <p>QLED TV 55” </p>
                </li>
                <li>
                    <img src="@Url.Content("~/assets/images/i-beg.png")">
                    <p>1 Giường</p>
                </li>
            </ul>

            <p>Thoáng đãng với thiết kế mang đậm chất nghệ thuật đương đại Việt Nam, phòng Grande Suite của Le Méridien cho bạn trải nghiệm độc đáo với hướng nhìn rộng ra sông Sài Gòn. Ba gam màu chủ đạo là đỏ, đen và trắng làm tôn lên vẻ sang trọng đẳng cấp cho căn phòng, với điểm nhấn nổi bật là chiếc QLED TV. Ngoài những dịch vụ cao cấp của khách sạn, bạn còn được thoải mái tận hưởng 24h giải trí bất tận với những nội dung điện ảnh chất lượng 4K trên chiếc QLED TV 55”.</p>
            <p>Hãy sẵn sàng cho trải nghiệm sống đỉnh cao với QLED TV!</p>
            <p>
                Tiện ích: <br />
                Internet tốc độ cao, mini bar, máy nước nóng, bữa sáng, gym, hồ bơi, phòng sauna
            </p>
            <p class="dgt_note">
                QUI ĐỊNH SỬ DỤNG PHÒNG<br />Theo qui định của khách sạn tại <a href="http://www.lemeridiensaigon.com/" target="_blank">đây</a>
            </p>
        </div>
        <div class="dgt_form__booking">
            <div>
                <input type="text" placeholder="Họ Tên" value="" name="name">
            </div>
            <div>
                <div class="select_filter">
                    <select name="brand">
                        <option value="">Nhãn hiệu TV bạn đang dùng</option>
                        <option value="Sony">Sony</option>
                        <option value="LG">LG</option>
                        <option value="Samsung">Samsung</option>
                        <option value="Other">Khác</option>
                    </select>
                </div>
            </div>
            <div class="name-tv-other" style="display:none;">
                <input type="text" placeholder="Nhãn hiệu TV bạn đang dùng" name="tivi-other" maxlength="50">
            </div>
            <div>
                <input type="text" placeholder="Email" value="" name="email">
            </div>
            <div>
                <input type="text" placeholder="Số điện thoại" name="phone">
            </div>
            <div>
                <input type="text" placeholder="Năm sinh" name="birthday">
            </div>
            <div>
                <input type="text" placeholder="Nghề nghiệp" name="job">
            </div>
            <!-- <div>
                <input type="text" placeholder="Diện tích không gian sống hiện tại (m2)" name="acreage">
            </div> -->
            <div class="dgt_term">
                <input type="checkbox" name="checkbox_term">
                <label>Tôi xác nhận đã xem và đồng ý với <a href="#" class="js_dgt_term">điều khoản chương trình tại đây.</a></label>
                <p>Khi bấm "THAM GIA NGAY", bạn sẽ được yêu cầu đăng nhập Facebook để hoàn tất đăng kí.</p>
            </div>
            <input type="hidden" value="@ViewBag.HotelName" name="hotel_name" />

            <input type="submit" value="THAM GIA NGAY" class="dgt_btn register-qsuite">

            <div class="dgt_googlemap" id="map">

            </div>
        </div>
    </div>
</div>
@Html.Partial("_PartialFooter")
@Html.Partial("_PartialPopupQRegister")
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBftjc07I4osLlEfVYH4s1zMABWWjUd_5g "></script>

<script type="text/javascript">

    var center = '@(ViewBag.HotelName == "khach-san-le-meridien" ? "meridien" : "")'
    var mapLocation = center == "meridien" ? new google.maps.LatLng(10.779823, 106.707528) : new google.maps.LatLng(21.007130, 105.783352);
    // When the window has finished loading create our google map below
    google.maps.event.addDomListener(window, 'load', init);
    
    function init() {
        // Basic options for a simple Google Map
        // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
        var mapOptions = {
            // How zoomed in you want the map to start at (always required)
            zoom: 11,

            // The latitude and longitude to center the map (always required)
            center: mapLocation, // New York

            // How you would like to style the map.
            // This is where you would paste any style found on Snazzy Maps.
            styles: [{ "featureType": "water", "elementType": "geometry", "stylers": [{ "color": "#e9e9e9" }, { "lightness": 17 }] }, { "featureType": "landscape", "elementType": "geometry", "stylers": [{ "color": "#f5f5f5" }, { "lightness": 20 }] }, { "featureType": "road.highway", "elementType": "geometry.fill", "stylers": [{ "color": "#ffffff" }, { "lightness": 17 }] }, { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [{ "color": "#ffffff" }, { "lightness": 29 }, { "weight": 0.2 }] }, { "featureType": "road.arterial", "elementType": "geometry", "stylers": [{ "color": "#ffffff" }, { "lightness": 18 }] }, { "featureType": "road.local", "elementType": "geometry", "stylers": [{ "color": "#ffffff" }, { "lightness": 16 }] }, { "featureType": "poi", "elementType": "geometry", "stylers": [{ "color": "#f5f5f5" }, { "lightness": 21 }] }, { "featureType": "poi.park", "elementType": "geometry", "stylers": [{ "color": "#dedede" }, { "lightness": 21 }] }, { "elementType": "labels.text.stroke", "stylers": [{ "visibility": "on" }, { "color": "#ffffff" }, { "lightness": 16 }] }, { "elementType": "labels.text.fill", "stylers": [{ "saturation": 36 }, { "color": "#333333" }, { "lightness": 40 }] }, { "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "transit", "elementType": "geometry", "stylers": [{ "color": "#f2f2f2" }, { "lightness": 19 }] }, { "featureType": "administrative", "elementType": "geometry.fill", "stylers": [{ "color": "#fefefe" }, { "lightness": 20 }] }, { "featureType": "administrative", "elementType": "geometry.stroke", "stylers": [{ "color": "#fefefe" }, { "lightness": 17 }, { "weight": 1.2 }] }],
            zoomControl: false,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            rotateControl: false,
            fullscreenControl: false
        };
        
        // Get the HTML DOM element that will contain your map
        // We are using a div with id="map" seen below in the <body>
        var mapElement = document.getElementById('map');

        // Create the Google Map using our element and options defined above
        var map = new google.maps.Map(mapElement, mapOptions);
        
        var marker = new google.maps.Marker({
            position: mapLocation,
            title: "",
            icon: imageMapHotel,
            map: map
        })
        // Let's also add a marker while we're at it
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(40.6700, -73.9400),
            map: map,
            title: 'Snazzy!'
        });
    }
</script>
