﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CMS.master" AutoEventWireup="true" CodeFile="404.aspx.cs" Inherits="_404" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server"> </asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
	<section class="page" id="pHome">
		<div class="content-404 align-content">
			<%--<img src="Assets/images/logo.png" alt="">--%>
			<p>Nội dung hay địa chỉ web bạn yêu cầu không tồn tại.<br/>
                Bạn vui lòng quay lại trang chủ.</p>
		</div>
	</section>

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="footer" Runat="Server"></asp:Content>

