﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CMS.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="cms_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder" Runat="Server">
    <section class="content-header">
        <h1>
        Dashboard
        <small>Control panel</small>
        </h1>
    </section>    
<section class="content">
          


        </section><!-- /.content -->
</asp:Content>

