﻿@{
    var jsonHoNoi = Html.Raw(ViewBag.DictFilmShceduleHanoi);
    var jsonHcm = Html.Raw(ViewBag.DictFilmShceduleHoChiMinh);
    string FilmName = ViewBag.FilmName;
    
}
<script>
    var ajaxUrl = '@Url.Action("Register","Home")';
    var ucountticket = '@Url.Action("CheckTicket", "Home")';
    var FilmId = '@ViewBag.FilmId';
    var scheduleHanoi = JSON.parse('@jsonHoNoi');
    var scheduleHcm = JSON.parse('@jsonHcm');
    var filmIdString = '@ViewBag.FilmIdString';
</script>
<div>
    <input type="text" placeholder="Họ Tên" name="name" maxlength="25">
</div>
<div>
    <div class="select_filter">
        <select name="brand" >
            <option value="">Nhãn hiệu TV bạn đang dùng</option>
            <option value="Sony">Sony</option>
            <option value="LG">LG</option>
            <option value="Samsung">Samsung</option>
            <option value="Other">Khác</option>
        </select>
    </div>
</div>
<div class="name-tv-other" style="display:none;">
    <input type="text" placeholder="Nhãn hiệu TV bạn đang dùng" name="tivi-other" maxlength="50">
</div>
<div>
    <input type="text" placeholder="Email" name="email" maxlength="99">
</div>
<div>
    <input type="text" placeholder="Số điện thoại" name="phone" maxlength="25">
</div>

<div>
    <div class="select_filter">
        <select name="number_of_people">
            <option value="">Số lượng người tham gia</option>
            <option value="1">1 người</option>
            <option value="2">2 người</option>
        </select>
    </div>
</div>
<div class="dgt_term">
    <input type="checkbox" name="checkbox_term">
    <label>Tôi xác nhận trên 18 tuổi, đã xem và đồng ý với <a href="#" class="js_dgt_term">điều khoản chương trình tại đây.</a></label>
</div>
<div>
    <input type="submit" value="ĐẶT VÉ TRẢI NGHIỆM" class="dgt_btn">
</div>
<input type="hidden"  name="filmid" value="@ViewBag.FilmId"/>
<input type="hidden" name="date" value="@ViewBag.Date"/>
<input type="hidden" name="time" value="@ViewBag.Time" />
<input type="hidden" name="cinema" value="@ViewBag.Cinema"/>



<div class="dgt_popup_term">
    <div class="dgt_contain">
        <div>
            <h4>THỂ LỆ CHƯƠNG TRÌNH “TRẢI NGHIỆM ĐIỆN ẢNH ĐỈNH CAO”</h4>
            <h5>1. ĐƠN VỊ TỔ CHỨC:</h5>
            <p>
                <strong>CÔNG TY TNHH SAMSUNG ELECTRONICS VIỆT NAM THÁI NGUYÊN -- CHI NHÁNH TP.HỒ CHÍ MINH.</strong><br />
                Địa chỉ: Tầng 25, Tòa Nhà Bitexco, Số 2, Hải Triều, Phường Bến Nghé, Quận 1, TP. Hồ Chí Minh.
            </p>
            <h5>2. TÊN CHƯƠNG TRÌNH : “TRẢI NGHIỆM ĐIỆN ẢNH ĐỈNH CAO”</h5>
            <h5>3. THỜI GIAN:</h5>
            <p>Từ 28.04.2017 đến 20.05.2017</p>
            <h5>4. HÌNH THỨC:</h5>
            <p>Tham gia đặt vé xem phim tại trang web <a href="https://vn.campaign.samsung.com/trainghiemqled/" target="_blank">www.trainghiemqled.com</a> để có cơ hội trải nghiệm không gian điện ảnh đẳng cấp với Samsung QLED TV</p>
            <h5>5. ĐỐI TƯỢNG THAM GIA CHƯƠNG TRÌNH:</h5>
            <p>Công dân Việt Nam đủ 18 tuổi trở lên (tính từ ngày đăng ký dự thi), đã có Chứng minh nhân dân, đang sinh sống và làm việc tại Việt Nam.</p>
            <p>Các đối tượng sau không được phép tham gia chương trình:</p>
            <ul>
                <li>• Nhân viên phòng ban Marketing của công ty Samsung được chỉ định tham gia Ban Tổ Chức, nhân viên công ty quảng cáo, in ấn và các bên có liên quan đến chương trình này.</li>
                <li>• Thành viên trong gia đình của các đối tượng nêu trên (cha mẹ, ông bà, vợ chồng, con cái…)</li>
            </ul>
            <h5>6. CÁCH THỨC THAM GIA:</h5>
            <p>Bước 1: Truy cập vào trang web <a href="https://vn.campaign.samsung.com/trainghiemqled/" target="_blank">www.trainghiemqled.com</a> của Samsung Việt Nam &amp; làm theo hướng dẫn để đăng đăng kí vé</p>
            <p>Bước 2: Nhận thông tin xác nhận từ chương trình được gửi qua email và SMS</p>
            <p>Bước 3: Đem thông tin xác nhận đến rạp chiếu phim trước 30 phút để nhận vé kèm giấy tờ tùy thân / CMND để xác minh</p>
            <h5>7. CÁC QUY ĐỊNH KHÁC:</h5>
            <ul>
                <li>• BTC có toàn quyền gỡ bỏ phần tham gia có chứa nội dung nhạy cảm hoặc ảnh hưởng đến thuầnphong mỹ tục và văn hoá Việt Nam, có chứa hình ảnh đã được đăng ký bản quyền, logo, nhãn hiệu của tổ chức, đội thể thao, dòng cổ động chính trị hay bất kỳ nội dung nào khác mà BTC cho rằng có thể gây ảnh hưởng đến hình ảnh chương trình, vi phạm pháp luật. Nếu người tham gia đăng nội dung không hợp lệ sẽ bị mất quyền tham dự chương trình mà không cần thông báo trước.</li>
                <li>• Hình ảnh gửi tham gia phải thuộc quyền sở hữu hợp pháp của người tham gia chương trình.</li>
                <li>• Người tham gia tự chịu trách nhiệm về mọi tranh chấp, khiếu nại, khiếu kiện, đòi bồi thường liên quan đến bản quyền, quyền sở hữu nội dung tham gia.</li>
                <li>• BTC không chịu trách nhiệm và không có nghĩa vụ giải quyết bất kỳ khiếu nại hay tranh chấp nào liên quan đến quyền tác giả về nội dung và hình ảnh của tác phẩm tham gia do thí sinh gửi.</li>
                <li>• Khi đã tham gia chương trình, thí sinh đồng ý với việc sử dụng tên và/hoặc những thông tin được đăng kí trên mẫu đăng ký tham gia mà không có thù lao cho mục đích quảng cáo và tiếp thị của SAMSUNG. BTC sẽ đăng tải danh sách tên các thí sinh thắng cuộc được nhận giải thưởng trên trang web của cuộc thi và có toàn quyền sử dụng ảnh, tên tuổi của người tham gia cũng như ảnh tham gia mà không phải trả bất kì khoản phí nào liên quan đến quyền tác giả cho người tham gia.</li>
                <li>• Bằng cách gửi bài tham gia, mỗi người tham gia theo đó: (a) ủy quyền riêng cho SAMSUNG sử dụng và/hoặc cấp phép cho các bên thứ ba để sử dụng một phần hoặc toàn bộ nội dung tham gia này, trên toàn thế giới, mãi mãi và trên mọi phương tiện truyền thông hiện có hoặc xuất hiện sau này; (b) và cam kết nội dung tham gia không phải là một phần hoặc toàn bộ của thông tin bất hợp pháp, xâm phạm hoặc vi phạm bất kỳ bản quyền, quyền sở hữu trí tuệ hoặc bất kỳ quyền hạn nào khác, hoặc chứa bất kỳ thông tin, nội dung và/hoặc tài liệu thuộc bất kỳ loại nào vi phạm pháp luật hoặc trái đạo đức; (c) bảo đảm rằng mọi bộ phận có trong bài tham gia sẽ: (c1) là nội dung gốc của người tham gia, (c2) trong bất kỳ trường hợp nào không hoặc sẽ không vi phạm hoặc xâm phạm bất kỳ điều khoản nào từ bất kỳ thỏa thuận nào khác mà người tham gia có thể là một bên liên quan, (c3) không chứa nội dung phỉ báng, hay nội dung khác mà việc phát hành hoặc bán nội dung này sẽ vi phạm bất kỳ đạo luật hoặc quy định nào của nhà nước hoặc địa phương, (c4) không tục tĩu hoặc bất hợp pháp dưới bất kỳ trường hợp nào khác, và (c5) sẽ không yêu cầu SAMSUNG chi trả hoặc gánh chịu bất cứ khoản phí nào đối với người tham gia hoặc bất kỳ cá nhân hay tổ chức nào do việc sử dụng hoặc khai thác nội dung này.</li>
                <li>• Những người đoạt giải sẽ đồng ý để SAMSUNG hoặc các nhân viên PR (quan hệ công chúng) của SAMSUNG hoặc bên thứ ba do SAMSUNG chỉ định liên hệ để tham gia vào các sự kiện quan hệ công chúng vốn được liên kết với chiến dịch để tạo tin tức báo chí về chương trình và phạm vi thiết bị. Tin tức này có thể bao gồm, nhưng không bị giới hạn ở, những trích dẫn được cung cấp để đưa vào các thông cáo báo chí, họp báo, cuộc phỏng vấn, v.v.</li>
                <li>• SAMSUNG có quyền loại bỏ các bài tham gia mà theo ý kiến riêng của SAMSUNG là không tuân thủ các nội quy và quy định từ những chương trình này. Điều này có thể bao gồm nội dung bài thi có thông tin không hợp lệ hoặc không đúng.</li>
                <li>• Chấp nhận bất kỳ giải thưởng nào đồng nghĩa với sự đồng ý từ phía người đoạt giải cho phép SAMSUNG sử dụng tên, hình ảnh, giọng nói và/hoặc chân dung của người đoạt giải vào các mục đích đăng báo, quảng cáo, khuyến mãi, tiếp thị và/hoặc các mục đích khác mà không phải trả thêm tiền. Khi người đoạt giải chấp nhận bất kỳ giải thưởng nào, SAMSUNG sẽ không chịu bất kỳ trách nhiệm, các khiếu nại, yêu cầu, nguyên nhân hành động, và/hoặc các thiệt hại mà người đoạt giải có thể có, dù được xác định hay chưa xác định vào thời điểm hiện tại, thuộc bất kỳ loại hình nào, phát sinh ngoài hoặc liên quan đến: (a) chương trình, (b) chấn thương cá nhân và/hoặc thiệt hại tài sản, bị trộm cắp hoặc mất mát từ người đoạt giải do sử dụng giải thưởng, và/hoặc (c) bất kỳ trách nhiệm thuế nào liên quan đến chương trình, giải thưởng và/hoặc việc sử dụng giải thưởng.</li>
                <li>• Người tham gia đoạt giải phải đảm bảo tuân thủ thời gian và sự sắp xếp của BTC trong quá trình nhận giải.</li>
                <li>• BTC có thể yêu cầu người trúng giải viết bài cá nhân hay giao lưu với các thành viên trên mạng.</li>
                <li>• BTC có toàn quyền loại bỏ người tham gia ra khỏi chương trình mà không cần thông báo trước nếu BTC phát hiện người đó thực hiện bất cứ hành động nào gây ảnh hưởng đến kết quả trung thực cuối cùng của chương trình.</li>
                <li>• Nếu có bất kỳ thay đổi nào về thể lệ của chương trình, BTC sẽ thông báo trước trên website. Trường hợp bất khả kháng do thiên tai, lũ lụt, sét đánh, khủng bố, bị tấn công máy chủ làm thất thoát dữ liệu đăng ký của người tham gia; BTC giữ quyền quyết định thay đổi hoặc hủy bỏ chương trình và thông báo với người tham gia trong thời gian sớm nhất.</li>
                <li>• BTC có trách nhiệm bảo mật thông tin cá nhân cho người tham gia chương trình này, không chia sẻ cho bên thứ ba và chỉ sử dụng cho mục đích trao đổi thông tin giữa công ty và thí sinh.</li>
                <li>• SAMSUNG có quyền sử dụng tất cả các tác phẩm tham gia và thông tin liên quan trong bất cứ hoàn cảnh phù hợp nào mà không cần phải có sự đồng ý của tác giả hoặc thực hiện bất kỳ hình thức thanh toán tài chính, lệ phí nào cho tác giả hay các bên liên quan.</li>
                <li>• Bất kỳ người tham gia nào vi phạm những quy định và thể lệ của chương trình đều sẽ bị loại. Nếu được trúng giải cũng sẽ bị tước giải thưởng theo quyết định công ty.</li>
                <li>• SAMSUNG sẽ không chịu trách nhiệm về bất kỳ mất mát, hư tổn, thiệt hại hay sự thất vọng của thí sinh tham gia chương trình hay từ việc chấp nhận giải thưởng. SAMSUNG cũng không chịu trách nhiệm về việc bảo quản, hoàn trả, hay việc không giao hồ sơ hay hồ sơ bị thất lạc, trễ hạn, hay bị gửi nhầm, những vấn đề về trục trặc kỹ thuật của mạng điện thoại, mạng toàn cầu, hệ thống mạng, nhà cung cấp, máy chủ, thiết bị máy tính, phần mềm tin học; sự cố nghẽn mạng toàn cầu hay mạng điện thoại, bao gồm cả những hư tổn và thiệt hại của máy vi tính hay điện thoại mà thí sinh hay người khác dùng để tải bất kỳ tài liệu của chương trình.</li>
                <li>• Trong trường hợp phát sinh tranh chấp, khiếu nại liên quan đến chương trình, BTC sẽ trực tiếp giải quyết và quyết định của BTC là kết quả cuối cùng.</li>
            </ul>
        </div>
        <span class="dgt_btn__close js_dgt_closeterm"></span>
    </div>
    <span class="dgt_ovl"></span>
</div>