﻿@{
    int filmId = (int)ViewBag.filmId;
    string FilmName = ViewBag.FilmName;
}
<section class="dgt_library js_dgt__library">
    @if (filmId!=1)
    {
    <div>
        <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[0] })" onclick="omniture_click('vn:trainghiemqled:phim:da-co-hoai-lang:dacohoailang');"><img src="assets/images/poster1.jpg" class="thumb"></a>
    </div>
    }

    @if (filmId!=2)
    {
    <div>
        <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[1] })" onclick="omniture_click('vn:trainghiemqled:phim:kungfu-yoga:kungfuyoga');"><img src="assets/images/poster5.jpg" class="thumb"></a>
    </div>
    }
    @if (filmId != 3) {
    <div>
        <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[2] })" onclick="omniture_click('vn:trainghiemqled:phim:now-you-see-me:nowyouseeme');"><img src="assets/images/poster6.jpg" class="thumb"></a>
    </div>
    }
    @if (filmId != 4) {
    <div>
        <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[3] })" onclick="omniture_click('vn:trainghiemqled:phim:49-ngay-2:49ngay2');"><img src="assets/images/poster2.jpg" class="thumb"></a>
    </div>
    }
    @if (filmId != 5) {
    <div>
        <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[4] })" onclick="omniture_click('vn:trainghiemqled:phim:ender-game:endergame');"><img src="assets/images/poster3.jpg" class="thumb"></a>
    </div>
    }
    @if (filmId != 6) {
    <div>
        <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[5] })" onclick="omniture_click('vn:trainghiemqled:phim:the-expendables-3:expendables');"><img src="assets/images/poster4.jpg" class="thumb"></a>
    </div>
    }
</section>
