﻿@{
    string FilmName = ViewBag.FilmName;
}
<div class="dgt_filter">
    <div class="select_filter">
        <select class="filter-cinema" onclick="omniture_click('vn:trainghiemqled:phim:@FilmName:rapphim');">
            <option value="">RẠP PHIM</option>
            <option value="1">Aeon Mall Hà Nội </option>
            <option value="2">Cresent Mall Hồ Chí Minh</option>
        </select>
    </div>
    <div class="select_filter">
        <select class="filter-date" onclick="omniture_click('vn:trainghiemqled:phim:@FilmName:ngaychieu');">
            <option value="">Lựa chọn ngày xem phim</option>
        </select>
    </div>
    <div class="select_filter">
        <select class="filter-time" onclick="omniture_click('vn:trainghiemqled:phim:@FilmName:giochieu');">
            <option value="">Lựa chọn giờ xem phim</option>
        </select>
    </div>
</div>