@charset "UTF-8";
/*# sourceMappingURL=main.css.map */
/** Locale Setting **/
/* line 80, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
.ovl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}

/* line 87, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
.helper-hide {
  display: none;
}

/* line 90, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
.helper-force-hide {
  display: none !important;
}

/*
  Tiny Scrollbar
 */
/* line 98, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
.scrolled {
  width: 100%;
}

/* line 99, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
.scrolled .g-viewport {
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* line 100, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
.scrolled .g-overview {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 20px 0 0;
  width: 100%;
}

/* line 101, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
.scrolled .g-thumb .end,
.scrolled .g-thumb {
  background: url(../images/custas.png) no-repeat;
  background-size: 25px;
}

/* line 103, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
.scrolled .g-scrollbar {
  position: relative;
  float: right;
  width: 25px;
}

/* line 104, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
.scrolled .g-track {
  height: 100%;
  width: 25px;
  position: relative;
  background: url(../images/bg-tinyscroll.png) repeat-y center top;
}

/* line 105, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
.scrolled .g-thumb {
  height: 20px;
  width: 25px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
}

/* line 106, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
.scrolled .g-thumb .end {
  overflow: hidden;
  height: 5px;
  width: 25px;
}

/* line 107, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
.scrolled .g-disable {
  display: none;
}

/* line 108, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
.g-noSelect {
  -ms-user-select: none;
      user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

/* line 112, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
.styled {
  display: none;
}

/* line 115, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
.checkbox,
.radio {
  width: 25px;
  height: 25px;
  background: url(../images/checkbox.png) no-repeat;
  display: inline-block;
}

/* line 124, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
.radio {
  background: url(../images/radio.png) no-repeat;
  cursor: pointer;
}

/* line 132, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
input[type="text"],
input[type="password"] {
  background: transparent;
  line-height: 1;
  height: 48px;
  border-radius: 25px;
  font-size: 16px;
  color: #000;
  width: 100%;
  padding: 2px 20px 0 20px;
  border: 1px solid #707070;
}

/* line 146, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
input[type="text"]::-moz-selection,
input[type="password"]::-moz-selection,
textarea::-moz-selection {
  background: #ededed;
  text-shadow: none;
}
input[type="text"]::selection,
input[type="password"]::selection,
textarea::selection {
  background: #ededed;
  text-shadow: none;
}

/* line 155, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_global.scss */
select {
  -webkit-appearance: value;
  -moz-appearance: value;
  appearance: value;
  border: 0;
  background: none;
  -webkit-appearance: none;
}

/*
 * Neat Grid settings
 */
@font-face {
  font-family: 'samsung-200';
  src: url("../fonts/SamsungOneLatin-200_v1.0.eot");
  src: local("☺"), url("../fonts/SamsungOneLatin-200_v1.0.woff") format("woff"), url("../fonts/SamsungOneLatin-200_v1.0.ttf") format("truetype"), url("../fonts/SamsungOneLatin-200_v1.0.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'samsung-400';
  src: url("../fonts/SamsungOneLatin-400_v1.0.eot");
  src: local("☺"), url("../fonts/SamsungOneLatin-400_v1.0.woff") format("woff"), url("../fonts/SamsungOneLatin-400_v1.0.ttf") format("truetype"), url("../fonts/SamsungOneLatin-400_v1.0.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'samsung-800';
  src: url("../fonts/SamsungOneLatin-800_v1.0.eot");
  src: local("☺"), url("../fonts/SamsungOneLatin-800_v1.0.woff") format("woff"), url("../fonts/SamsungOneLatin-800_v1.0.ttf") format("truetype"), url("../fonts/SamsungOneLatin-800_v1.0.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SamsungSharpSans-Medium';
  src: url("../fonts/SamsungSharpSans-Medium.eot");
  src: url("../fonts/SamsungSharpSans-Medium.woff2") format("woff2"), url("../fonts/SamsungSharpSans-Medium.woff") format("woff"), url("../fonts/SamsungSharpSans-Medium.ttf") format("truetype"), url("../fonts/SamsungSharpSans-Medium.svg#SamsungSharpSans-Medium") format("svg"), url("../fonts/SamsungSharpSans-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SamsungSharpSans-Bold';
  src: url("../fonts/SamsungSharpSans-Bold.eot");
  src: url("../fonts/SamsungSharpSans-Bold.woff2") format("woff2"), url("../fonts/SamsungSharpSans-Bold.woff") format("woff"), url("../fonts/SamsungSharpSans-Bold.ttf") format("truetype"), url("../fonts/SamsungSharpSans-Bold.svg#SamsungSharpSans-Bold") format("svg"), url("../fonts/SamsungSharpSans-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/*
 *  Links color
 */
/** Vendor **/
/*$column: golden-ratio(1em, 3) !default; // Column width
$gutter: golden-ratio(1em, 1) !default; // Gutter between each two columns
$grid-columns: 12 !default; // Total number of columns in the grid
$max-width: em(1088) !default; // Max-width of the outer container
$border-box-sizing: true !default; // Makes all elements have a border-box layout
$default-feature: min-width; // Default @media feature for the breakpoint() mixin
$default-layout-direction: LTR !default;*/
/* line 2, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/vendor/neat/grid/_grid.scss */
* {
  box-sizing: border-box;
}

/** Partials **/
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 30, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 50, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 63, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 73, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 85, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 93, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 105, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 113, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 122, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 131, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 140, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 149, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 157, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 165, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 169, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 180, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 188, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 199, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 207, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 217, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 225, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 248, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
/* line 262, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
/* line 273, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 286, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 298, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 307, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 318, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 330, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 342, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 353, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 366, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 375, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 386, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
/* line 395, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 404, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 415, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 420, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_normalize.scss */
td,
th {
  padding: 0;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 6, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.13);
}

/* line 10, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
html {
  -webkit-backface-visibility: hidden;
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

/* line 20, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
body {
  max-width: 100%;
  min-height: 100%;
  background: #fff;
  font-family: "samsung-600", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  line-height: 1.5;
  position: relative;
  letter-spacing: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 43, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
::-moz-selection {
  background: #ccc;
  text-shadow: none;
}

/* line 48, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
::-moz-selection {
  background: #ccc;
  text-shadow: none;
}
::selection {
  background: #ccc;
  text-shadow: none;
}

/*
 * Inputs placeholder default colour and size
 */
/* line 56, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
::-webkit-input-placeholder {
  color: #000;
}

/* line 60, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

/* line 65, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

/* line 70, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
:-ms-input-placeholder {
  color: #000;
}

/*
 * A better looking default horizontal rule
 */
/* line 78, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  padding: 0;
}

/*
 * Remove default Paragraph styles.
 */
/* line 91, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
p {
  margin: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 100, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 112, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 122, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
textarea {
  resize: vertical;
}

/* line 126, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
textarea,
input {
  outline: none;
}

/* line 131, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
:focus {
  outline-color: transparent;
  outline-style: none;
}

/** CQ Resets **/
/* line 138, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
#CQ * {
  box-sizing: content-box;
}
/* line 141, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
#CQ * fieldset label {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}
/* line 146, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_base.scss */
#CQ * input {
  vertical-align: baseline;
}

/* line 1, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_buttons.scss */
.dgt_btn {
  font-size: 15px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 0 30px;
  border: 1px solid #fff;
  display: inline-block;
  text-align: center;
}
/* line 12, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_buttons.scss */
.dgt_btn span {
  font-family: "SamsungSharpSans-Bold", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
}
/* line 16, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_buttons.scss */
.dgt_btn:hover {
  border: 1px solid #0090ff;
  color: #0090ff;
}

/* line 1, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  content: none;
  display: block;
  background: white;
  position: absolute;
  z-index: 30;
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
}

/* line 11, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  width: 3px;
  height: 9999px;
  left: 50%;
  margin-left: -1.5px;
}

/* line 17, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  width: 9999px;
  height: 3px;
  top: 50%;
  margin-top: -1.5px;
}

/* line 23, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 29, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  transition-duration: 0.5s;
}

/* line 34, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-before-label, .twentytwenty-after-label {
  transition-property: opacity;
}

/* line 39, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em;
}

/* line 44, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  line-height: 38px;
  padding: 0 20px;
  border-radius: 2px;
}

/* line 53, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-horizontal .twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before {
  top: 50%;
  margin-top: -19px;
}

/* line 57, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-vertical .twentytwenty-before-label:before, .twentytwenty-vertical .twentytwenty-after-label:before {
  left: 50%;
  margin-left: -45px;
  text-align: center;
  width: 90px;
}

/* line 63, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-left-arrow, .twentytwenty-right-arrow, .twentytwenty-up-arrow, .twentytwenty-down-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
}

/* line 69, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-left-arrow, .twentytwenty-right-arrow {
  top: 50%;
  margin-top: -6px;
}

/* line 73, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-up-arrow, .twentytwenty-down-arrow {
  left: 50%;
  margin-left: -6px;
}

/* line 77, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-container {
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
}

/* line 86, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-container img {
  max-width: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: block;
}

/* line 92, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-container.active .twentytwenty-overlay, .twentytwenty-container.active :hover.twentytwenty-overlay {
  background: transparent;
}

/* line 94, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label, .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-after-label {
  opacity: 0;
}

/* line 103, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-before-label {
  opacity: 0;
}

/* line 105, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-before-label:before {
  content: "Before";
}

/* line 108, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-after-label {
  opacity: 0;
}

/* line 110, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-after-label:before {
  content: "After";
}

/* line 113, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 10px;
}

/* line 116, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 10px;
}

/* line 119, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-vertical .twentytwenty-before-label:before {
  top: 10px;
}

/* line 122, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-vertical .twentytwenty-after-label:before {
  bottom: 10px;
}

/* line 125, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-overlay {
  display: none;
  transition-property: background;
  background: transparent;
  z-index: 25;
}

/* line 132, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-overlay:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* line 134, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-overlay:hover .twentytwenty-after-label {
  opacity: 1;
}

/* line 136, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-overlay:hover .twentytwenty-before-label {
  opacity: 1;
}

/* line 139, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-before {
  z-index: 20;
}

/* line 142, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-after {
  z-index: 10;
}

/* line 145, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-handle {
  height: 100%;
  width: 3px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -2px;
  background: #fff;
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40;
  cursor: pointer;
  opacity: 1;
}

/* line 164, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-handle:hover {
  opacity: 1;
}

/* line 168, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-horizontal .twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 22px;
  box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

/* line 174, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-horizontal .twentytwenty-handle:after {
  top: 50%;
  margin-top: 22px;
  box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

/* line 181, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-vertical .twentytwenty-handle:before {
  left: 50%;
  margin-left: 22px;
  box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

/* line 187, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-vertical .twentytwenty-handle:after {
  right: 50%;
  margin-right: 22px;
  box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

/* line 194, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-left-arrow {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px;
}

/* line 199, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-right-arrow {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px;
}

/* line 204, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-up-arrow {
  border-bottom: 6px solid white;
  top: 50%;
  margin-top: -17px;
}

/* line 209, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_imgcomparasion.scss */
.twentytwenty-down-arrow {
  border-top: 6px solid white;
  bottom: 50%;
  margin-bottom: -17px;
}

/* Slider */
/* line 3, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 17, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 24, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 28, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 33, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 42, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
/* line 48, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 54, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-track:after {
  clear: both;
}
/* line 58, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 62, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 66, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 69, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-slide img {
  display: block;
}
/* line 72, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 78, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 82, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 86, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 90, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 96, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* line 100, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-dots {
  text-align: center;
  margin-top: 10px;
}
/* line 104, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-dots li {
  text-indent: -99999px;
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
/* line 115, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-dots li.slick-active {
  background: #fff;
}
/* line 118, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-dots li button {
  display: none;
}

/* line 124, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-next {
  text-indent: -99999px;
  width: 17px;
  height: 31px;
  background: url(../images/ar-next.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 30%;
  right: 0;
  border: none;
  z-index: 30;
}
/* line 135, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-next:hover {
  background: url(../images/ar-next2.png) no-repeat;
  background-size: cover;
}

/* line 142, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-prev {
  text-indent: -99999px;
  width: 17px;
  height: 31px;
  background: url(../images/ar-prev.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 30%;
  left: 0;
  border: none;
  z-index: 30;
}
/* line 154, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.slick-prev:hover {
  background: url(../images/ar-prev2.png) no-repeat;
  background-size: cover;
}

/* line 162, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.dgt_library {
  opacity: 0;
}

/* line 165, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_slick.scss */
.dgt_library.slick-initialized {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

/* line 1, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_links.scss */
a {
  text-decoration: none;
  color: #0090ff;
}

/* line 1, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_lists.scss */
ul {
  margin: 0;
  padding: 0;
}
/* line 5, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_lists.scss */
ul li {
  margin: 0;
  list-style: none;
}

/* line 1, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_tables.scss */
table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * typography.scss
 *
 * $Rev:: 13112         $:  Revision of last commit
 * $Author:: lilee      $:  Author of last commit
 * $Date:: 2014-07-30 1#$:  Date of last commit
*/
/* line 10, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SamsungSharpSans-Medium", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
  font-weight: normal;
  margin: 0;
}

/* line 21, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_typography.scss */
h1 {
  font-size: 2.5em;
  line-height: 1.05;
}

/* line 26, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_typography.scss */
h2 {
  font-size: 1.625em;
  line-height: 1.1538461538;
}

/* line 31, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1.1666666667;
}

/* line 36, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_typography.scss */
h4 {
  font-size: 1.25em;
  line-height: 1.2;
}

/* line 41, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_typography.scss */
h5 {
  font-size: 1.125em;
  line-height: 1.3333333333;
}

/* line 46, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_typography.scss */
h6 {
  font-size: 0.875em;
  line-height: 1.4285714286;
}

/* line 52, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_typography.scss */
strong {
  font-weight: bold;
}

/* line 57, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 65, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_typography.scss */
sup {
  top: -0.5em;
}

/* line 69, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 73, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_typography.scss */
a {
  transition: -webkit-transform 1s;
  transition: transform 1s;
  background: linear, to top, black, white;
  display: -ms-flexbox;
  display: flex;
}

/* line 1, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_helper.scss */
.dgt_arrow {
  display: block;
  height: 13px;
  width: 13px;
  border: 11px solid transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0 auto;
}

/* line 10, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_helper.scss */
.dgt_arrow:after,
.dgt_arrow:before {
  content: "";
  display: block;
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 21, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_helper.scss */
.dgt_arrow:after {
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-animation: bottom-arrow 1.65s infinite;
          animation: bottom-arrow 1.65s infinite;
}

/* line 29, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/partials/_helper.scss */
.dgt_arrow:before {
  top: 0;
  left: 0;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  -webkit-animation: top-arrow 1.65s infinite;
          animation: top-arrow 1.65s infinite;
}

@-webkit-keyframes bottom-arrow {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  45% {
    opacity: 0;
    -webkit-transform: translate(12px, 12px);
    transform: translate(12px, 12px);
  }
  46% {
    opacity: 0;
    -webkit-transform: translate(-16px, -16px);
    transform: translate(-16px, -16px);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
}
@keyframes bottom-arrow {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  45% {
    opacity: 0;
    -webkit-transform: translate(12px, 12px);
    transform: translate(12px, 12px);
  }
  46% {
    opacity: 0;
    -webkit-transform: translate(-16px, -16px);
    transform: translate(-16px, -16px);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
}
@-webkit-keyframes top-arrow {
  0% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  35% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes top-arrow {
  0% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  35% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
/* line 1, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_header {
  height: 60px;
  background: #fff;
  position: relative;
  z-index: 100;
  width: 100%;
  transition: all 1s;
}
/* line 9, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_header .logo {
  float: left;
  width: 172px;
  height: 60px;
  background: url(../images/logo.png) no-repeat center;
  background-size: cover;
}

/* line 19, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_contain {
  max-width: 1254px;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 20px;
  box-sizing: border-box;
}
/* line 27, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_contain:after {
  content: '';
  display: block;
  clear: both;
}

/* line 34, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
#dgt_nav {
  text-align: center;
  width: calc(100% - 260px);
  float: left;
}
/* line 38, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
#dgt_nav > li {
  display: inline-block;
}
/* line 41, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
#dgt_nav > li > a {
  display: block;
  line-height: 60px;
  padding: 0 55px;
  font-size: 14px;
  color: #000;
  font-family: "SamsungSharpSans-Bold", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
  position: relative;
}
/* line 50, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
#dgt_nav > li > a:after {
  content: '';
  width: 0;
  height: 3px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: all .3s;
}
/* line 64, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
#dgt_nav > li > a:hover:after, #dgt_nav > li > a.active:after {
  width: 50%;
}
/* line 72, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
#dgt_nav > li:hover .dgt_subheader {
  display: block;
}

/* line 79, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_subheader {
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  background: #fff;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  display: none;
}
/* line 88, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_subheader ul {
  max-width: 1254px;
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
}
/* line 94, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_subheader ul li {
  display: inline-block;
}
/* line 96, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_subheader ul li a {
  font-family: "samsung-800", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
  line-height: 40px;
  color: #000;
  font-size: 12px;
  padding: 0 30px;
}
/* line 103, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_subheader ul li a:hover {
  color: #002288;
}

/* line 111, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_socials {
  float: right;
  padding-top: 15px;
}
/* line 114, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_socials a {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 24px;
}
/* line 120, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_socials a.ql_fb {
  background: url(../images/i-fb.png) no-repeat center;
  background-size: cover;
  margin-right: 25px;
}
/* line 125, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_socials a.ql_fb:hover {
  background: url(../images/i-fb2.png) no-repeat center;
  background-size: cover;
}
/* line 130, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_socials a.ql_ytb {
  background: url(../images/i-ytb.png) no-repeat center;
  background-size: cover;
}
/* line 133, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_socials a.ql_ytb:hover {
  background: url(../images/i-ytb2.png) no-repeat center;
  background-size: cover;
}

/* line 143, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_footer {
  background: #6d6e71;
  width: 100%;
  height: 45px;
  text-align: right;
  z-index: 100;
  position: relative;
}
/* line 151, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_footer .dgt_socials {
  float: none;
  display: inline-block;
  padding-top: 8px;
}
/* line 155, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_footer .dgt_socials .ql_fb {
  background: url(../images/i-fb3.png) no-repeat center;
  background-size: cover;
}
/* line 159, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_footer .dgt_socials .ql_ytb {
  background: url(../images/i-ytb3.png) no-repeat center;
  background-size: cover;
  margin-right: 25px;
}
/* line 165, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_footer p {
  display: inline-block;
  color: #fff;
  font-size: 12px;
}
/* line 170, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_footer p > a {
  color: #fff;
  display: inline-block;
}
/* line 174, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_footer p > a:hover {
  color: #fff;
  text-decoration: underline;
}

/* line 183, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
}
/* line 188, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_popup .dgt_copy {
  width: 45%;
  padding: 50px 70px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  bottom: auto;
  color: #6d6e71;
  text-align: center;
}
/* line 197, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_popup .dgt_copy h5 {
  font-size: 25px;
  font-family: "samsung-600", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
  padding: 30px 0;
}
/* line 203, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_popup .dgt_copy p {
  font-size: 15px;
  padding-bottom: 30px;
}
/* line 207, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_popup .dgt_copy p small {
  font-size: 12px;
}
/* line 212, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_popup .dgt_copy .dgt_btn {
  display: block;
  color: #6d6e71;
  border: 1px solid #6d6e71;
  width: 70%;
  margin: 0 auto;
}
/* line 219, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_header.scss */
.dgt_popup .dgt_copy .dgt_btn:hover {
  background: #0090ff;
  border: 1px solid #0090ff;
  color: #fff;
}

/* line 2, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
}
/* line 8, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtHome .dgt_copy p strong {
  font-family: "SamsungSharpSans-Bold", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
  font-weight: normal;
}

/* line 15, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_kv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100% !important;
}

/* line 20, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_copy {
  position: absolute;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  font-size: 35px;
  font-family: "samsung-600", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
  text-align: center;
  color: #fff;
  width: 100%;
  bottom: 15%;
  z-index: 39;
}
/* line 29, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_copy h2 {
  color: #fff;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -5px;
}

/* line 37, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_buttons {
  padding-top: 120px;
  text-align: center;
}
/* line 41, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_buttons > div {
  width: 50%;
  float: left;
}
/* line 44, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_buttons > div.dgt_cinema {
  text-align: right;
  padding-right: 80px;
}
/* line 47, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_buttons > div.dgt_cinema .dgt_btn {
  width: 260px;
}
/* line 51, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_buttons > div.dgt_else {
  padding-left: 70px;
  text-align: left;
}
/* line 54, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_buttons > div.dgt_else > a {
  width: 170px;
  display: inline-block;
  margin-right: 10px;
}

/* line 66, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtQcinema {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../images/bg-qcinema.jpg) no-repeat center;
  background-size: cover;
}
/* line 72, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtQcinema .dgt_copy {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #959595;
  bottom: 5%;
}
/* line 78, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtQcinema .dgt_copy h3 {
  font-size: 30px;
  color: #fff;
  font-family: "samsung-800";
}
/* line 83, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtQcinema .dgt_copy > p {
  max-width: 650px;
  margin: 20px auto;
}
/* line 87, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtQcinema .dgt_copy .dgt_btn {
  width: 255px;
  margin: 0 20px;
}

/* line 95, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtLibrary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../images/bg-qcinema.jpg) no-repeat center;
  background-size: cover;
  padding-top: 80px;
}
/* line 103, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtLibrary .dgt_library .slick-dots {
  margin-top: 10px;
}

/* line 111, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_library.slick-slider {
  width: 950px;
  margin: 0 auto;
}
/* line 115, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_library .slick-slide {
  margin: 0 20px;
}
/* line 117, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_library .slick-slide > a {
  display: inline-block;
}
/* line 121, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_library .slick-list {
  width: 770px;
  margin: 0 auto;
}
/* line 127, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_library > div .thumb {
  width: 230px;
}
/* line 131, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_library .copy {
  margin-top: 20px;
}
/* line 133, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_library .copy h4 {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}
/* line 139, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_library .copy .voted {
  margin-bottom: 20px;
}
/* line 141, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_library .copy .voted > img {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
}

/* line 150, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_filter {
  width: 770px;
  margin: 0 auto;
  padding: 10px 0 20px 0;
}
/* line 154, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_filter .select_filter:last-child {
  margin-right: 0;
}
/* line 157, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_filter .select_filter {
  width: 230px;
  border: 1px solid #fff;
  font-size: 14px;
  color: #fff;
}

/* line 165, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.select_filter {
  width: 100%;
  text-align: center;
  line-height: 48px;
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 16px;
  border: 1px solid #707070;
  border-radius: 25px;
  text-transform: uppercase;
  background: url(../images/ar.png) no-repeat 90% center;
  background-size: 7px auto;
  display: inline-block;
  margin-right: 35px;
}
/* line 181, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.select_filter select {
  position: relative;
  z-index: 10;
  padding: 0 50px 0 20px;
  width: 110%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  appearance: none;
}
/* line 191, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.select_filter select:focus {
  outline: none;
}

/* line 197, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtBooking {
  background: #000;
}

/* line 201, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_tv__booking {
  width: 100%;
  height: calc(100vh - 60px );
  background: #03050b;
  text-align: center;
  background: url(../images/bgtv.jpg) no-repeat center center #000;
  background-size: auto 90%;
  position: relative;
}
/* line 210, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_tv__booking .buttons {
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
}
/* line 216, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_tv__booking .buttons > a {
  margin: 0 60px;
}

/* line 222, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_movie__detail {
  width: 850px;
  margin: 0 auto;
  color: #fff;
  padding-top: 50px;
}
/* line 228, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_movie__detail h3 {
  font-size: 30px;
  font-family: 'samsung-800';
}
/* line 232, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_movie__detail .dgt_btn__else {
  margin-top: 30px;
}
/* line 235, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_movie__detail .buttons {
  padding-top: 40px;
}
/* line 237, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_movie__detail .buttons a {
  margin-left: 120px;
  min-width: 230px;
}
/* line 242, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_movie__detail .buttons.else {
  position: relative;
  top: -100px;
}

/* line 250, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking {
  width: 850px;
  margin: 0 auto;
  padding: 170px 0 50px 0;
  border-bottom: 1px solid #6d6e71;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
/* line 258, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking .thumb {
  width: 510px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
/* line 263, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking .thumb img {
  width: 340px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
/* line 268, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking .dgt_form__booking {
  display: inline-block;
  width: calc(100% - 515px);
  vertical-align: top;
}
/* line 273, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking .dgt_form__booking h4 {
  padding-bottom: 20px;
  font-size: 22px;
}
/* line 277, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking .dgt_form__booking p {
  color: #959595;
  line-height: 1.5;
}
/* line 281, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking .dgt_form__booking .voted {
  margin: 20px 0;
}
/* line 283, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking .dgt_form__booking .voted img {
  display: inline-block;
  width: 15px;
  margin-right: -3px;
}
/* line 289, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking .dgt_form__booking > div {
  margin-bottom: 25px;
}
/* line 292, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking .dgt_form__booking .dgt_btn {
  width: 100%;
  display: block;
  border: 1px solid #6d6e71;
  background: #6d6e71;
}
/* line 298, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking .dgt_form__booking .dgt_btn:hover {
  border: 1px solid #0090ff;
  background: #0090ff;
  color: #fff;
}

/* line 307, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_movie__copy {
  padding: 50px 0 50px 80px;
  font-size: 14px;
  line-height: 1.5;
}
/* line 312, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_movie__copy h6 {
  font-family: "SamsungSharpSans-Bold", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
  padding-bottom: 10px;
  font-size: 16px;
}

/* line 320, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking__wrap {
  background: #f0efe7;
  padding-bottom: 100px;
}
/* line 324, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking__wrap h6 {
  text-align: center;
  color: #959595;
  font-size: 15px;
  font-family: "SamsungSharpSans-Bold", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
  margin-bottom: 20px;
}
/* line 331, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking__wrap .dgt_library.slick-slider {
  width: 850px;
}
/* line 334, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking__wrap .dgt_library .slick-list {
  width: 740px;
}
/* line 337, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking__wrap .dgt_library > div .thumb {
  width: 180px;
  margin: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
/* line 343, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking__wrap .slick-prev {
  background: url(../images/ar-prev3.png) no-repeat;
  background-size: cover;
  top: 40%;
}
/* line 348, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_booking__wrap .slick-next {
  background: url(../images/ar-next3.png) no-repeat;
  background-size: cover;
  top: 40%;
}

/* line 355, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtReview {
  background: url(../images/bg-kv.png) no-repeat center top #000;
  padding: 0 0  50px 0;
}
/* line 359, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtReview h2 {
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 85vh;
  padding-top: 20vh;
}

/* line 368, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_list__review {
  width: 700px;
  margin: 0 auto;
}
/* line 372, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_list__review li {
  border-bottom: 1px solid #959595;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
/* line 376, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_list__review li > p {
  color: #fff;
  line-height: 1.7;
  font-size: 15px;
}
/* line 383, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_list__review .dgt_info {
  color: #fff;
  padding-bottom: 30px;
}
/* line 386, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_list__review .dgt_info .ava {
  display: inline-block;
  vertical-align: top;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #959595;
  margin-right: 20px;
}
/* line 395, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_list__review .dgt_info h4 {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
}
/* line 400, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_list__review .dgt_info h4 span {
  display: block;
  font-size: 14px;
  font-family: "samsung-600", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
  padding-top: 5px;
}

/* line 411, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtGalerry {
  background: #000;
  min-height: 100%;
  height: 100vh;
}
/* line 416, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtGalerry h2 {
  width: 800px;
  margin: 0 auto;
  padding: 50px 0;
  color: #fff;
  clear: both;
  overflow: hidden;
  font-family: 'samsung-800';
}
/* line 425, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtGalerry h2 ul {
  float: right;
}
/* line 427, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtGalerry h2 ul li {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  border-right: 1px solid #fff;
  margin-left: -6px;
  font-family: 'samsung-400';
  cursor: pointer;
}
/* line 437, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtGalerry h2 ul li:last-child {
  border: none;
  padding-right: 0;
}
/* line 441, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtGalerry h2 ul li:hover, #dgtGalerry h2 ul li.active {
  color: #0090ff;
}
/* line 449, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtGalerry .dgt_library.slick-slider {
  width: 500px;
  margin: -40px auto 0;
  padding-bottom: 50px;
}
/* line 454, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtGalerry .dgt_library .slick-list {
  width: 366px;
}
/* line 457, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtGalerry .dgt_library .slick-slide {
  margin: 0 2px;
  cursor: pointer;
  position: relative;
}
/* line 462, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtGalerry .dgt_library > div .thumb {
  width: 70px;
}
/* line 467, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtGalerry #dgt_video .dgt_library > div .thumb {
  width: 160px;
}
/* line 470, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtGalerry #dgt_video .dgt_library .slick-list {
  width: 325px;
}
/* line 475, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgtGalerry .slick-next,
#dgtGalerry .slick-prev {
  top: 20%;
}

/* line 481, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_glr__item {
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

/* line 485, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
#dgt_photo {
  display: block;
}

/* line 489, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_glr__copy {
  width: 600px;
  height: 447px;
  margin: 0 auto;
  background: url(../images/mask-glr.png) no-repeat center;
  padding: 9px 0 0 5px;
  text-align: center;
  position: relative;
}
/* line 498, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_glr__copy > img {
  max-width: 100%;
  max-height: 328px;
}
/* line 503, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_glr__copy .dgt_ytb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 592px;
  height: 317px;
  top: 10px;
  left: 4px;
}

/* line 512, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: 40px;
  height: 28px;
  background: url(../images/btn-ytb.png) no-repeat center;
  background-size: cover;
  opacity: .5;
  z-index: 2;
  display: inline-block;
  z-index: 20;
}
/* line 523, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
.dgt_play:hover {
  opacity: 1;
}

@media all and (min-width: 1025px) and (min-height: 800px) {
  /* line 531, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
  #dgtQcinema .dgt_copy {
    bottom: 15%;
  }

  /* line 534, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
  #dgtLibrary {
    padding-top: 10%;
  }

  /* line 538, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
  #dgtReview h2 {
    line-height: 55vh;
  }

  /* line 542, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_home.scss */
  #dgtGalerry {
    height: calc(100vh - 105px);
  }
}
/* line 1, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
.menu-toggle-wrapper {
  position: absolute;
  top: 15px;
  right: 10px;
  display: none;
}
/* line 6, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
.menu-toggle-wrapper button {
  padding: 0;
  outline: none;
  background: none;
  text-indent: none;
  height: 1.875rem;
  border: none;
}

/* line 16, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
.btn-menu {
  position: relative;
  width: 35px;
}

/* line 21, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
.menu-icon {
  top: 0;
  transition: background .3s ease .7s;
}
/* line 25, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
.menu-icon, .menu-icon:before, .menu-icon:after {
  background: #000;
  border-radius: 1px;
  position: absolute;
  display: block;
  height: 3px;
  width: 35px;
}
/* line 36, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
.menu-icon:before, .menu-icon:after {
  content: '';
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
}
/* line 42, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
.menu-icon:before {
  top: 12px;
}
/* line 46, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
.menu-icon:after {
  top: 24px;
}
/* line 50, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
.menu-open .menu-icon {
  transition: background .3s ease;
}
/* line 53, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
.menu-open .menu-icon {
  background-color: rgba(255, 255, 255, 0);
}
/* line 57, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
.menu-open .menu-icon:before {
  -webkit-transform: rotate(500deg);
          transform: rotate(500deg);
}
/* line 61, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
.menu-open .menu-icon:after {
  -webkit-transform: rotate(-500deg);
          transform: rotate(-500deg);
  top: 12px;
}

/* line 68, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
.dgt_pc {
  display: inline-block;
}

/* line 71, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
.dgt_mb {
  display: none;
}

@media all and (max-width: 1024px) {
  /* line 76, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  body {
    -webkit-overflow-scrolling: touch;
  }

  /* line 80, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .menu-toggle-wrapper {
    display: block;
  }

  /* line 83, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtHome .twentytwenty-container img {
    height: 100%;
    object-fit: cover;
  }

  /* line 87, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_header {
    position: fixed;
  }

  /* line 90, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_header .dgt_contain {
    width: 100%;
    max-width: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
  }

  /* line 98, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_mb .dgt_socials {
    display: block;
    float: none;
  }
  /* line 102, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_mb .dgt_socials .ql_fb {
    background: url(../images/i-fb3.png);
    background-size: cover;
    margin: 0 10px;
  }
  /* line 107, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_mb .dgt_socials .ql_ytb {
    background: url(../images/i-ytb3.png);
    background-size: cover;
    margin: 0 10px;
  }

  /* line 113, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_socials {
    display: none;
  }

  /* line 117, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgt_nav {
    height: 100vh;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    float: none;
    background: rgba(0, 0, 0, 0.7);
    padding-top: 5vh;
    display: none;
  }
  /* line 128, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgt_nav > li {
    display: block;
  }
  /* line 130, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgt_nav > li > a {
    color: #fff;
    font-size: 30px;
  }

  /* line 136, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_header .logo {
    float: none;
    margin: 0 auto;
  }

  /* line 140, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_subheader {
    display: block;
    border: none;
    background: transparent;
    height: auto;
    position: static;
  }
  /* line 146, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_subheader ul li {
    display: block;
  }
  /* line 148, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_subheader ul li a {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
  }

  /* line 157, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_buttons > div.dgt_cinema {
    padding: 0;
  }

  /* line 160, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_buttons > div.dgt_cinema .dgt_btn {
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  /* line 165, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_buttons > div.dgt_else {
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  /* line 177, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_tv {
    width: 80%;
    margin: 0 auto;
  }
  /* line 180, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_tv > img {
    width: 100%;
  }

  /* line 184, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtQcinema .dgt_copy {
    bottom: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }

  /* line 189, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_filter {
    width: 100%;
    padding: 50px 10px;
  }

  /* line 193, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_filter .select_filter {
    margin-right: 20px;
  }

  /* line 197, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_library.slick-slider,
  .dgt_booking__wrap .dgt_library.slick-slider {
    width: 85vw;
  }

  /* line 201, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_library .slick-list {
    width: 75vw;
  }

  /* line 206, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_booking__wrap .dgt_library .slick-list {
    width: 71vw;
  }

  /* line 209, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_booking__wrap .dgt_library > div .thumb {
    margin: 20px 10px;
    width: 20vw;
  }

  /* line 213, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_library > div .thumb {
    width: 25vw;
  }

  /* line 216, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_library .slick-slide {
    margin: 0 5px;
  }

  /* line 219, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_library .copy .dgt_btn {
    font-size: 12px;
    display: block;
  }

  /* line 224, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_tv__booking {
    background-size: 100% auto;
    height: 65vh;
  }

  /* line 228, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_movie__detail {
    width: 100%;
    padding: 0 20px;
  }

  /* line 233, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .loa {
    width: 100%;
  }

  /* line 237, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_movie__copy {
    padding: 20px 0 20px 40px;
  }

  /* line 240, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_tv__booking .buttons {
    bottom: 50px;
  }

  /* line 244, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_booking .thumb {
    width: 45%;
  }

  /* line 247, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_booking .thumb img {
    width: 80%;
  }

  /* line 250, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_booking .dgt_form__booking {
    width: 40%;
  }

  /* line 253, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtGalerry h2 {
    width: 100%;
    padding: 50px 20px;
  }
}
@media all and (max-width: 567px) {
  /* line 263, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_subheader ul li a {
    font-size: 15px;
    line-height: 30px;
    font-family: 'samsung-400';
  }

  /* line 268, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_header .logo {
    width: 115px;
    height: 40px;
    background-size: cover;
    position: relative;
    top: 10px;
  }

  /* line 275, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_copy h2 {
    font-size: 50px;
  }

  /* line 278, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_btn {
    font-size: 12px;
    line-height: 40px;
    padding: 0 10px;
  }
  /* line 284, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_btn:hover {
    border: 1px solid #fff;
    color: #fff;
  }

  /* line 290, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_buttons > div.dgt_else > a {
    width: 80%;
    display: block;
    margin: 0 auto 10px;
  }

  /* line 296, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_copy {
    font-size: 20px;
  }

  /* line 300, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_pc {
    display: none;
  }

  /* line 304, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_mb {
    display: inline-block;
  }

  /* line 308, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_tv > img {
    width: 80%;
    padding-top: 20px;
  }

  /* line 312, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_else {
    opacity: .5;
  }
  /* line 314, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_else > p {
    text-transform: uppercase;
    font-size: 8px;
  }
  /* line 318, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_else .dgt_btn {
    padding: 0;
  }

  /* line 323, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtQcinema .dgt_copy h3 {
    padding: 20px  15vw 0 15vw;
    line-height: 1.3;
  }

  /* line 327, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtQcinema .dgt_copy .dgt_btn {
    width: 45%;
    padding: 0 5px;
    margin: 0 5px;
  }

  /* line 333, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtQcinema {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  /* line 338, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtQcinema .dgt_copy {
    position: static;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    padding: 80px 0 20px 0;
  }

  /* line 343, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtQcinema .dgt_copy > p {
    font-size: 13px;
    margin-top: 15px;
    padding: 0 20px;
  }

  /* line 349, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_filter .select_filter,
  .dgt_filter .select_filter:last-child {
    margin: 0 auto 20px;
    display: block;
  }

  /* line 354, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtLibrary {
    padding-top: 60px;
    overflow-y: scroll;
  }

  /* line 358, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_filter {
    padding: 20px 0;
  }

  /* line 362, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_library .copy h4,
  .dgt_library .copy .voted,
  .dgt_library .copy .dgt_btn {
    display: none;
  }

  /* line 369, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_library.slick-slider,
  .dgt_booking__wrap .dgt_library.slick-slider,
  .dgt_library .slick-list,
  .dgt_booking__wrap .dgt_library .slick-list {
    width: 100vw;
  }

  /* line 375, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtLibrary .dgt_library .slick-slide {
    margin: 0;
  }
  /* line 378, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtLibrary .dgt_library .slick-slide.slick-current .thumb {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  /* line 382, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtLibrary .dgt_library > div .thumb {
    width: 50vw;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  /* line 386, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_booking__wrap .dgt_library > div .thumb {
    width: 50vw;
  }

  /* line 390, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_movie__detail h3 {
    font-size: 25px;
    text-align: center;
  }

  /* line 395, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_movie__copy {
    padding: 40px 20px;
  }

  /* line 399, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_comparasion__slider {
    margin: 0 -20px;
  }

  /* line 403, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_movie__detail .dgt_btn__else {
    display: block;
    width: 230px;
    margin: 10px auto;
    padding: 0 5px;
  }

  /* line 409, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .loa {
    margin: 0 -20px;
    width: calc(100% + 40px);
  }

  /* line 414, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_booking {
    width: 100%;
    padding: 70px 0;
  }

  /* line 419, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_booking .thumb {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
  /* line 424, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_booking .dgt_form__booking {
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 40px;
  }

  /* line 431, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtGalerry {
    height: auto;
    padding-top: 80px;
  }

  /* line 435, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtGalerry h2 {
    padding: 10px;
    text-align: center;
  }
  /* line 438, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtGalerry h2 ul {
    float: none;
    display: block;
    text-align: center;
    padding-top: 20px;
  }

  /* line 445, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtGalerry h2 ul li:last-child {
    padding: 0 10px;
  }

  /* line 449, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_glr__item {
    position: relative;
  }

  /* line 453, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_glr__copy {
    width: 350px;
    height: 261px;
    background-size: cover;
    padding: 5px 2px 0 2px;
  }

  /* line 459, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_glr__copy > img {
    max-height: 192px;
  }

  /* line 462, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_glr__copy .dgt_ytb {
    width: 346px;
    height: 190px;
    top: 6px;
    left: 2px;
  }

  /* line 468, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtGalerry .dgt_library.slick-slider {
    width: 100%;
    margin-top: 0;
  }

  /* line 473, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .slick-next,
  .slick-next:hover {
    width: 17px;
    height: 31px;
    background: url(../images/ar-next.png) no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    right: 5px;
  }

  /* line 484, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .slick-prev,
  .slick-prev:hover {
    width: 17px;
    height: 31px;
    background: url(../images/ar-prev.png) no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    left: 5px;
  }

  /* line 495, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtGalerry .dgt_library .slick-list,
  #dgtGalerry #dgt_video .dgt_library .slick-list {
    width: 100%;
  }

  /* line 500, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  #dgtBooking {
    overflow-x: hidden;
  }

  /* line 503, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_tv__booking {
    background-size: 150% auto;
  }
}
@media all and (max-width: 320px) {
  /* line 509, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_copy {
    bottom: auto;
    top: 150px;
  }

  /* line 514, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_movie__detail h3 {
    font-size: 20px;
    line-height: 1.5;
  }

  /* line 519, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_glr__copy {
    width: 300px;
    height: 224px;
    background-size: cover;
    padding: 5px 2px 0 2px;
  }

  /* line 525, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_glr__copy .dgt_ytb {
    width: 297px;
    height: 164px;
    top: 4px;
    left: 2px;
  }

  /* line 531, ../../../../../../Volumes/Data/Works/Digitop/2017/Qled/assets/scss/module/_table.scss */
  .dgt_glr__copy > img {
    max-height: 164px;
  }
}
