/* ====== BEFORE AFTER ======= */

.before-after {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.before-after-half {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.before-after-right {
    left: 0;
    width: 100%;
}
.before-after-left {
    z-index: 1;
}
.before-after-slider {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #fff;
    z-index: 20;
}
.before-after-scrubber {
    width: 20px;
    height: 100%;
    margin-left: -10px;
    cursor: pointer;
}
.before-after-left-arrow {
    width: 0;
    height: 0;
    border: 6px inset transparent;
    border-right: 6px solid white;
    position: absolute;
    top: 50%;
    margin-left: -12px;
}
.before-after-right-arrow {
    width: 0;
    height: 0;
    border: 6px inset transparent;
    border-left: 6px solid white;
    position: absolute;
    top: 50%;
    margin-left: 20px;
}

/* ====== end: BEFORE AFTER ======= */

a {
  transition: none;
}

p, .dgt_btn,
input[type="text"], input[type="password"], .select_filter select, textarea {
  font-family: "samsung-400";
}

.dgt_btn {
  padding: 0 10px;
}

#dgtHome .before-after-left-arrow, #dgtHome .before-after-right-arrow {
  margin-top: -30px;
}

#dgt_alert .dgt_copy {
  font-family: "samsung-400";
  font-size: 18px;
}

#dgtHome .dgt_cinema, #dgtHome .dgt_else {
  position: absolute;
  bottom: 80px;
}
#dgtHome .dgt_cinema {
  text-align: right;
}
#dgtHome .dgt_else {
  left: 50%;
  padding-left: 60px;
}
#dgtHome .dgt_cinema .dgt_btn {
  margin-right: 60px;
  width: 230px;
}
#dgtHome .dgt_else .dgt_btn {
  width: 200px !important;
  opacity: 0.5;
  padding: 0 10px;
}
.dgt_comparasion__slider {
  height: 400px;
}
#dgtHome .dgt_copy {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  margin-top: 30px;
  bottom: auto;
}

#dgtHome .twentytwenty-handle {
  opacity: 1;
}

#dgtQcinema .dgt_copy .dgt_tv img, #dgtQcinema .dgt_copy h3, #dgtQcinema .dgt_copy p, #dgtQcinema .dgt_copy .dgt_btn {
  opacity: 0;
}

.dgt_tv__trailer, #dgtHome .twentytwenty-container .twentytwenty-before, #dgtHome .twentytwenty-container .twentytwenty-after, 
#dgtHome .dgt_copy h2, #dgtHome .dgt_copy p {
  opacity: 0;
  letter-spacing: 0px;
}

.dgt_tv__trailer {
  margin-top: -20px;
}

.dgt_tv__booking {
  background: url(../images/bg-qcinema.jpg) no-repeat center #000;
}

.dgt_movie__detail h3, #dgtQcinema .dgt_copy h3, #dgtGalerry h2, #dgtHome .dgt_copy p {
  font-family: "SamsungSharpSans-Bold";
}

.dgt_popup .dgt_copy h5 {
  font-family: "SamsungSharpSans-Bold";
}

#dgtHome .dgt_copy p, #dgtReview h2 {
  font-family: "SamsungSharpSans-Bold";
}

#dgtHome .dgt_copy h2, #dgtHome .dgt_copy p {
  text-shadow: -2px 2px 8px rgba(0,0,0,0.5);
}

#dgtQcinema .dgt_copy > p {
  max-width: 660px;
}

.dgt_movie__copy {
  padding: 50px 30px 50px 80px;
}

.dgt_write textarea::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder,
.select_filter select
/*input[type="text"]::-webkit-input-placeholder, 
input[type="password"]::-webkit-input-placeholder,
input[type="text"]::-moz-placeholder, 
input[type="password"]::-moz-placeholder,
input[type="text"]::-ms-input-placeholder, 
input[type="password"]::-ms-input-placeholder*/ {
  color: #959595;
}

.dgt_booking .dgt_form__booking .dgt_btn {
  background: #245aa6;
}

.cta {
  position: absolute;
  width: 100%;
  bottom: -40px;
}

.cta .dgt_btn {
  margin: 0 30px;
}

#dgtComment, #dgtComment .dgt_content, #dgtComment .dgt_movie__detail {
  /*min-height: 700px;*/
  background: #000;
  color: #fff;
}

#dgtComment {
  z-index: 1;
}

#dgtComment h1 {
  height: 400px;
  text-align: center;
  background-color: transparent;
  background: url(../images/bg-review.png) no-repeat center #000;
}

#dgtComment .dgt_header h1 {
  font-size: 28px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

#dgtComment .dgt_list_review {
  max-width: 720px;
  margin: 0 auto;
}

#dgtComment .dgt_list_review .dgt_review_item {
  padding: 40px 0;
  border-bottom: 1px solid #fff;
}

#dgtComment .dgt_list_review .dgt_review_item h3 {
  font-size: 15px;
}

#dgtComment .dgt_list_review .dgt_review_item p {
  font-size: 15px;
  font-family: "samsung-600", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
  margin-top: 20px;
}

.dgt_booking .dgt_form__booking p, .dgt_library .copy h4 {
  margin-bottom: 20px;
}

.dgt_popup .btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.dgt_write {
  max-width: 700px;
  text-align: center;
  margin: auto;
}
.dgt_writearea {
  display: none;
  width: 100%;
  margin-bottom: 40px;
}
.dgt_list__review {
  width: 100%;
  max-width: 700px;
}

.dgt_write input[type="text"] {
  width: 48%;
  display: inline-block;
  margin-bottom: 10px;
  color: white;
}

.dgt_write .name {
  margin-right: 2%;
}

.dgt_write textarea {
  background: transparent;
  line-height: 1;
  height: 48px;
  border-radius: 25px;
  font-size: 16px;
  width: 100%;
  padding: 20px;
  border: 1px solid #707070;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  color: white;
}

.dgt_write input[type="submit"] {
  background-color: transparent;
}

.dgt_list__review .dgt_info h4 {
  font-family: "SamsungSharpSans-Bold";
}

.dgt_list__review .dgt_info h4 span, .dgt_list__review li > p {
  font-family: "samsung-400";
}

.dgt_list__review li {
  margin-bottom: 0;
  padding-top: 50px;
}

@media (max-width: 480px) {
  #dgtHome .dgt_cinema, #dgtHome .dgt_else {
    bottom: 20px;
  }
  .dgt_comparasion__slider {
    height: 180px;
    margin: 0 auto;
  }
  #dgtHome .dgt_cinema .dgt_btn {
    margin-right: 10px;
    width: 140px;
  }
  #dgtHome .dgt_else {
    padding-left: 10px;
  }
  #dgtHome .dgt_else .dgt_btn {
    width: 140px;
    margin-bottom: 5px;
  }
  .dgt_header .logo {
    margin-left: 20px;
  }
  #dgtHome .dgt_copy p {
    font-size: 16px;
  }
  .dgt_tv__booking {
    height: 100vh;
  }
  .dgt_movie__detail h3 {
      font-size: 18px;
  }
  .dgt_movie__detail h3:nth-child(2) {
    width: 90%;
  }
  .cta .dgt_btn {
    margin: 0;
    font-size: 10px;
  }
  #dgtReview {
    background-size: 200%;
  }
  #dgtReview h2 {
    font-size: 22px;
    line-height: 45vh;
  }
  .dgt_list__review li {
    padding-left: 20px;
    padding-right: 20px;
  }
  .dgt_writearea {
    padding: 0 20px;
  }
  #dgtQcinema .dgt_copy h3 {
    font-size: 20px;
  }
  
  #dgtQcinema .dgt_copy > p {
    font-size: 12px;
  }
  .dgt_movie__copy {
    padding: 50px 10px;
  }
  .dgt_booking {
    padding: 30px 0;
  }
}