﻿@{
    ViewBag.Title = "Trải Nghiệm JW Marriott | Samsung QLED TV";
    ViewBag.Desc = "Sẵn sàng cho trải nghiệm sống và dịch vụ đẳng cấp tại khách sạn JW Marriott cùng với QLED TV!";
    ViewBag.Keyword = "trải nghiệm đẳng cấp, trải nghiệm 5 sao, ks 5 sao, samsung qled, tv qled, tv đẳng cấp, tv samsung";

    ViewBag.TitleSocial = "Trải nghiệm phong cách sống đỉnh cao";
    ViewBag.DescSocial = "Nhận cơ hội trải nghiệm miễn phí 1 đêm tại phòng suite chuẩn 5 sao để tận hưởng không gian sống và giải trí thượng lưu cùng Samsung QLED TV";
    ViewBag.Image = Request.Url.GetLeftPart(UriPartial.Authority) + Samsung.Helper.UrlHelperPage.Webroot + "assets/images/fb/qsuite-share.jpg";


    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
@Html.Partial("_PartialPageTracking", null, new ViewDataDictionary { { "PageName", "qsuite-jw-marriot" } });
<script>
    var qsuiteRegisterUrl = '@Url.RouteUrl("qsuiteregister", new  { id = "khach-san-jw-marriott" })';
    var urlLoginFacebook = '@Url.RouteUrl("facebook_login")';
</script>

<div id="dgt_room360" class="dgt_hanoi">

</div>
<a href="@Url.RouteUrl("qsuiteregister", new  { id = "khach-san-jw-marriott" })" class="dgt_btn login_facebook">Đăng ký ngay</a>
<ul class="dgt_discover dgt_pc">
    <li>
        <span></span>
        <img src="@Url.Content("~/assets/images/popup1_1.png")" class="thumb">
    </li>
    <li>
        <span></span>
        <img src="@Url.Content("~/assets/images/popup3_1.png")" class="thumb">
    </li>
    <li>
        <span></span>
        <img src="@Url.Content("~/assets/images/popup2_1.png")" class="thumb">
        <!-- <div class="thumb">
            <img src="@Url.Content("~/assets/images/remote.gif")">
            <em>Một điều khiển thông minh cho mọi thiết bị</em>
        </div> -->
    </li>
    <li>
        <span></span>
        <img src="@Url.Content("~/assets/images/popup4.png")" class="thumb">
    </li>
</ul>
<div class="dgt_icon360">
    <span class="text">360°</span>
    <svg viewBox="0 0 100 100" width="100" height="100">
    <circle class="rotating rotating--x" cx="50" cy="50" r="45"/>
    <circle class="rotating rotating--y" cx="50" cy="50" r="43"/>
    </svg>
    <p>Kéo thả để trải nghiệm căn phòng</p>
</div>
<section class="dgt_popup__slider js_dgt__popup">
    <div><img src="@Url.Content("~/assets/images/popup1.png")"></div>
    <div><img src="@Url.Content("~/assets/images/popup2.png")"></div>
    <div><img src="@Url.Content("~/assets/images/popup3.png")"></div>
    <div><img src="@Url.Content("~/assets/images/popup4.png")"></div>
</section>
