﻿@{
    ViewBag.Title = "Kiến Tạo Không Gian Sống | Samsung QLED TV";

    ViewBag.Desc = "Khám phá cơ hội sở hữu QLED TV và trọn bộ nội thất phòng khách cao cấp!";
    ViewBag.Keyword = "qled tv, q style, samsung tv, qhome, samsung qled, trải nghiệm qled ";

    ViewBag.TitleSocial = "Cơ hội sở hữu QLED TV";
    ViewBag.DescSocial = "Tham gia kiến tạo phòng khách, nhận QLED TV và trọn bộ nội thất cao cấp"; //Kiến tạo phòng khách cùng QLED TV
    ViewBag.Image = Request.Url.GetLeftPart(UriPartial.Authority) + Samsung.Helper.UrlHelperPage.Webroot + "assets/images/fb/qhome-share.jpg";


    Layout = "~/Views/Shared/_MasterPage.cshtml";
    int login = Session["user"] != null ? 1 : 0;
}
<script>
    var urlLoginFacebook = '@Url.RouteUrl("facebook_login")';
    
    var loginL = '@login';
    setTimeout(
        function () {

            if (loginL == 1)
            {

                if (typeof (Storage) !== "undefined") {
                   // alert(localStorage.scroll)
                    if (localStorage.scroll != "0") {
                        localStorage.scroll = "0";
                        $('html, body').animate({
                            scrollTop: $("#dgtQhomeRegister").offset().top - 200
                        }, 1000);
                    } else {

                    }

                } else {
                    $('html, body').animate({
                        scrollTop: $("#dgtQhomeRegister").offset().top - 200
                    }, 1000);
                }
            }

        },500
    );
</script>

@Html.Partial("_PartialPageTracking", null, new ViewDataDictionary { { "PageName", "qhome-tham-gia" } })
<div class="dgt_wrapper">
    <div class="dgt_qhome__video">
        <!-- <div class="dgt_video">
            <span class="btn-play"></span>
        </div> -->
        <h2>Tham gia chương trình "Kiến tạo phòng khách" để sở hữu QLED TV đẳng cấp và bộ nội thất phòng khách sang trọng</h2>


        <span class="dgt_arrow js_to_qhomeRegister" onclick="omniture_click('vn:kientaophongkhach:highlights:go-to:register');"></span>
    </div>

    <div class="dgt_qhome__slider">
        <div class="dgt_qhome__sliderwrap js_dgt_qhome__slider">
            <div>
                <img src="@Url.Content("~/assets/images/qhome2.jpg")">
                <p>
                    <strong>Tối giản kết nối phòng khách của bạn</strong>
                    Xua tan nỗi bận tâm về những đoạn dây rắc rối quanh TV, không gian nhà bạn sẽ gọn gàng và thẩm mỹ hơn.
                </p>
            </div>
            <div>
                <img src="@Url.Content("~/assets/images/qhome3.jpg")">
                <p>
                    <strong>Tối Ưu Không Gian</strong>
                    Giá treo ẩn giảm thiểu tối đa khoảng cách giữa TV và tường. Chỉ với 15 phút lắp đặt, QLED TV sẽ tinh tế hoàn hảo như 1 bức tranh nghệ thuật.
                </p>
            </div>
            <div>
                <img src="@Url.Content("~/assets/images/qhome4.jpg")">
                <p>
                    <strong>One Remote</strong>
                    Bạn có thể truy cập nhiều tính năng chính của các thiết bị kết nối từ đầu thu kỹ thuật số, loa đến máy chơi game và các thiết bị khác thật dễ dàng với một điều khiển duy nhất.
                </p>
            </div>
        </div>
    </div>

    <!-- <div class="dgt_qhome__contain">

        <div class="dgt_qhome__item first" data-qhome>
            <div class="dgt_image">
                <img src="@Url.Content("~/assets/images/qhome2.jpg")">
                <div class="dgt_mask"></div>
            </div>
            <div class="dgt_qhome__copy">
                <h4>Cáp quang siêu mảnh </h4>
                <p>Giải phóng TV của bạn khỏi các loại dây cáp chằng chịt. Dọn gọn không gian sống và nâng cao thẩm mỹ cho cả căn phòng.</p>
                <a onclick="omniture_click('vn:trainghiemqled:qhome-tham-gia:button'); engagement_click('QA75Q8CAMKXXV|;QA75Q8CAMK');" href="http://www.samsung.com/vn/tvs/qled-q8c/QA75Q8CAMKXXV/" target="_blank" class="dgt_btn">ĐẶT MUA <span>QLED TV</span></a>
                <a href="javascript:;" class="dgt_btn dgt_btn_login_facebook">Tham gia "Kiến tạo phòng khách"</a>
            </div>
        </div>


        <div class="dgt_qhome__item second" data-qhome>
            <div class="dgt_image dgt_mb">
                <img src="@Url.Content("~/assets/images/qhome3.png")">
                <div class="dgt_mask"></div>
            </div>

            <div class="dgt_qhome__copy">
                <h4>Giá treo âm tường</h4>
                <p>Với chỉ 15 phút lắp đặt, và bạn có thể dễ dàng tự lắp, QLED TV của bạn sẽ ốp sát vào tường, không lộ ra khoảng trống khó coi hoặc hệ thống treo cồng kềnh như trước. Nhẹ nhàng, tinh tế và đẹp hoàn hảo từ mọi góc nhìn. </p>
                <a onclick="omniture_click('vn:trainghiemqled:qhome-tham-gia:button'); engagement_click('QA75Q8CAMKXXV|;QA75Q8CAMK');" target="_blank" href="http://www.samsung.com/vn/tvs/qled-q8c/QA75Q8CAMKXXV/" class="dgt_btn">ĐẶT MUA <span>QLED TV</span></a>
                <a href="javascript:;" class="dgt_btn dgt_btn_login_facebook">Tham gia "Kiến tạo phòng khách"</a>
            </div>

            <div class="dgt_image dgt_pc">
                <img src="@Url.Content("~/assets/images/qhome3.png")">
                <div class="dgt_mask"></div>
            </div>

        </div>

        <div class="dgt_qhome__item last" data-qhome>
            <div class="dgt_image">
                <img src="@Url.Content("~/assets/images/qhome4.jpg")">
                <div class="dgt_mask"></div>
            </div>
            <div class="dgt_qhome__copy">
                <h4>One remote - Điều khiển thông minh</h4>
                <p>Điều khiển thông minh One Remote giúp điều khiển mọi thiết bị từ đầu thu kĩ thuật số đến máy chơi ga   me và các thiết bị khác.</p>
                <a onclick="omniture_click('vn:trainghiemqled:qhome-tham-gia:button'); engagement_click('QA75Q8CAMKXXV|;QA75Q8CAMK');" target="_blank" href="http://www.samsung.com/vn/tvs/qled-q8c/QA75Q8CAMKXXV/" class="dgt_btn">ĐẶT MUA <span>QLED TV</span></a>
                <a href="javascript:;" class="dgt_btn dgt_btn_login_facebook">Tham gia "Kiến tạo phòng khách"</a>
            </div>
        </div>

    </div> -->
</div>
<script>
    var qhomeSuccess = 0;
</script>

@if (Session["QhomeSuccess"] != null && Session["QhomeSuccess"].ToString() == "1")
{
    <script>
        qhomeSuccess = 1;
    </script>
    { Session["QhomeSuccess"] = null; }
}
<script>
      var qhomeError = '';
</script>
@if (Session["ErrorMessage"] != null)
{
    <script>
        var qhomeError = '@Html.Raw(Session["ErrorMessage"].ToString())';
    </script>
    { Session["ErrorMessage"] = null; }
}