﻿@{
    ViewBag.Title = "Kiến Tạo Không Gian Sống | Samsung QLED TV";

    ViewBag.Desc = "Khám phá cơ hội sở hữu QLED TV và trọn bộ nội thất phòng khách cao cấp!";
    ViewBag.Keyword = "qled tv, q style, samsung tv, qhome, samsung qled, trải nghiệm qled ";

    ViewBag.TitleSocial = "Cơ hội sở hữu QLED TV";
    ViewBag.DescSocial = "Tham gia kiến tạo phòng khách, nhận QLED TV và trọn bộ nội thất cao cấp";
    ViewBag.Image = Request.Url.GetLeftPart(UriPartial.Authority) + Samsung.Helper.UrlHelperPage.Webroot + "assets/images/fb/qhome-share.jpg";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<script>
    var urlLoginFacebook = '@Url.RouteUrl("facebook_login")';
</script>
@Html.Partial("_PartialPageTracking", null, new ViewDataDictionary { { "PageName", "qhome" } })
<div class="dgt_copy">
    <h3>Tham gia kiến tạo phòng khách,<br/> sở hữu QLED TV và nội thất phòng khách cao cấp</h3>
    <a target="_blank" onclick="omniture_click('vn:trainghiemqled:qhome:hightlights:button'); " href="http://www.samsung.com/vn/tvs/qled-q8c/QA75Q8CAMKXXV/" class="dgt_btn dgt_pc">ĐẶT MUA <span>qled tv</span></a>
    <a href="@Url.RouteUrl("qhomejoin")" onclick="omniture_click('vn:trainghiemqled:highlights:kientaophongkhach');" class="dgt_btn login_facebook">THAM GIA NGAY</a>

    @*<a href="@Url.RouteUrl("qhomeregister")" class="dgt_btn login_facebook">THAM GIA NGAY</a>*@

    <ul class="dgt_discover dgt_pc">
        <li>
            <span onclick="omniture_click('vn:trainghiemqled:highlights:images:popup1');"></span>
            <img src="@Url.Content("~/assets/images/popup1.png")" class="thumb">
        </li>
        <li>
            <span onclick="omniture_click('vn:trainghiemqled:highlights:images:popup3');"></span>
            <img src="@Url.Content("~/assets/images/popup3.png")" class="thumb">
        </li>
        <li>
            <span onclick="omniture_click('vn:trainghiemqled:highlights:images:popup2_1');"></span>
            <img src="@Url.Content("~/assets/images/popup2_1.png")" class="thumb">
            <!-- <div class="thumb">
                <img src="@Url.Content("~/assets/images/remote.gif")">
                <em>Một điều khiển thông minh cho mọi thiết bị</em>
            </div> -->
        </li>
        <li>
            <span onclick="omniture_click('vn:trainghiemqled:highlights:images:popup4');"></span>
            <img src="@Url.Content("~/assets/images/popup4.png")" class="thumb">
        </li>
    </ul>
    @*<a href="@Url.RouteUrl("qhomejoin")" class="dgt_btn">THAM GIA “Kiến tạo phòng khách”</a>*@
</div>

<section class="dgt_popup__slider js_dgt__popup">
    <div><img src="@Url.Content("~/assets/images/popup1.png")"></div>
    <div><img src="@Url.Content("~/assets/images/popup2.png")"></div>
    <div><img src="@Url.Content("~/assets/images/popup3.png")"></div>
    <div><img src="@Url.Content("~/assets/images/popup4.png")"></div>
</section>

