﻿@{
    ViewBag.Title = "Thư Viện Hình Ảnh | Samsung QLED TV";

    ViewBag.Desc = "Hình ảnh người dùng tham gia trải nghiệm Kiến tạo phòng khách cùng QLED TV.";
    ViewBag.Keyword = "thư viện hình ảnh, hình ảnh samsung, hình ảnh tv qled, trải nghiệm qled, tv samsung";

    ViewBag.TitleSocial = "Thư Viện Hình Ảnh ";
    ViewBag.DescSocial = "Hình ảnh người dùng tham gia trải nghiệm Kiến tạo phòng khách cùng QLED TV.";
    ViewBag.Image = Request.Url.GetLeftPart(UriPartial.Authority) + Samsung.Helper.UrlHelperPage.Webroot + "assets/images/fb/qhome-share.jpg";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
@Html.Partial("_PartialPageTracking", null, new ViewDataDictionary { { "PageName", "qhome-hinh-anh" } })
<!-- <h2>
    Thư viện ảnh
    <ul class="dgt_glr dgt_js_tabs">
        <li class="active" rel="dgt_photo">Hình ảnh </li>
        <li rel="dgt_video">Video</li>
    </ul>
</h2>

<div class="dgt_glr__item" id="dgt_photo">
    <div class="dgt_glr__copy"><img src="@Url.Content("~/assets/images/glr_1.jpg")"></div>
    <div class="dgt_library__wrap">
        <section class="dgt_library js_dgt__photo">
            <div><img src="@Url.Content("~/assets/images/poster1.jpg")" class="thumb"></div>
            <div><img src="@Url.Content("~/assets/images/poster2.jpg")" class="thumb"></div>
            <div><img src="@Url.Content("~/assets/images/poster3.jpg")" class="thumb"></div>
            <div><img src="@Url.Content("~/assets/images/poster4.jpg")" class="thumb"></div>
            <div><img src="@Url.Content("~/assets/images/poster5.jpg")" class="thumb"></div>
            <div><img src="@Url.Content("~/assets/images/poster6.jpg")" class="thumb"></div>
        </section>
        <span class="slick-prev"></span>
        <span class="slick-next"></span>
    </div>
</div>

<div class="dgt_glr__item" id="dgt_video">
    <div class="dgt_glr__copy">
        <div class="dgt_ytb">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/VpBUfx9uVh0?autoplay=0&rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="dgt_library__wrap">
        <section class="dgt_library js_dgt__video">
            <div data="VpBUfx9uVh0">
                <img src="@Url.Content("~/assets/images/glr_1.jpg")" class="thumb">
                <span class="dgt_play"></span>
            </div>
            <div data="mFqnsnnp5S0">
                <img src="@Url.Content("~/assets/images/glr_1.jpg")" class="thumb">
                <span class="dgt_play"></span>
            </div>
            <div data="VpBUfx9uVh0">
                <img src="@Url.Content("~/assets/images/glr_1.jpg")" class="thumb">
                <span class="dgt_play"></span>
            </div>
            <div data="mFqnsnnp5S0">
                <img src="@Url.Content("~/assets/images/glr_1.jpg")" class="thumb">
                <span class="dgt_play"></span>
            </div>
        </section>
        <span class="slick-prev"></span>
        <span class="slick-next"></span>
    </div>
</div> -->
<p class="dgt_comingsoon">Đang cập nhật</p>
@Html.Partial("_PartialFooter")
<!-- <p class="dgt_comingsoon">Đang cập nhật</p> -->
