﻿@{
    ViewBag.Title = "Phong Cách Sống Đỉnh Cao | Samsung QLED TV";

    ViewBag.Desc = "Khám phá cơ hội trải nghiệm miễn phí 1 đêm tại phòng suite chuẩn 5 sao để tận hưởng không gian sống và giải trí thượng lưu cùng Samsung QLED TV.";
    ViewBag.Keyword = "trải nghiệm đẳng cấp, trải nghiệm 5 sao, ks 5 sao, samsung qled, tv qled, tv đẳng cấp, tv samsung";

    ViewBag.TitleSocial = "Trải nghiệm phong cách sống đỉnh cao";
    ViewBag.DescSocial = "Nhận cơ hội trải nghiệm miễn phí 1 đêm tại phòng suite chuẩn 5 sao để tận hưởng không gian sống và giải trí thượng lưu cùng Samsung QLED TV";
    ViewBag.Image = Request.Url.GetLeftPart(UriPartial.Authority) + Samsung.Helper.UrlHelperPage.Webroot + "assets/images/fb/qsuite-share.jpg";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
@Html.Partial("_PartialPageTracking", null, new ViewDataDictionary { { "PageName", "qsuite" } })
<div class="dgt_kv">

    <div class="dgt_copy">
        <h2>Trải nghiệm phong cách sống đỉnh cao</h2>
        <p>Nhận cơ hội trải nghiệm miễn phí 1 đêm tại phòng suite chuẩn 5 sao <br />để tận hưởng không gian sống và giải trí thượng lưu cùng Samsung QLED TV</p>
    </div>

    <div class="dgt_buttons">
        <div>
            <h4>JW Marriott<span>Hà Nội</span></h4>
            <a href="@Url.RouteUrl("hotel1")" class="dgt_btn">Đăng ký ngay</a>
        </div>
        <div>
            <h4>Le Méridien<span>Hồ Chí Minh</span></h4>
            <a href="@Url.RouteUrl("hotel2")" class="dgt_btn">Đăng ký ngay</a>
        </div>
    </div>

</div>