﻿
@{
    ViewBag.Title = "Cảm Nhận Trải Nghiệm | Samsung QLED TV";

    ViewBag.Desc = "Cảm nhận và đánh giá của người dùng khi tham gia Trải nghiệm phong cách sống đỉnh cao cùng Samsung TV. Hãy cho chúng tôi biết cảm nhận của bạn!";
    ViewBag.Keyword = "đánh giá, trải nghiệm samsung, đánh giá tv, trai nghiem samsung, tv samsung, qled tv, tivi";

    ViewBag.TitleSocial = "Cảm Nhận Trải Nghiệm ";
    ViewBag.DescSocial = "Cảm nhận và đánh giá của người dùng khi tham gia Trải nghiệm phong cách sống đỉnh cao cùng Samsung TV. Hãy cho chúng tôi biết cảm nhận của bạn!";
    ViewBag.Image = Request.Url.GetLeftPart(UriPartial.Authority) + Samsung.Helper.UrlHelperPage.Webroot + "assets/images/fb/qsuite-share.jpg";

    Layout = "~/Views/Shared/_MasterPage.cshtml";

    List<Samsung.Models.ReviewsQsuite> ListReview = ViewBag.ListReview;
}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    var urlWriteReview = '@Url.RouteUrl("writereviewq")';
    var captcha = '@(Session["recaptcha"] != null ? 1 : 0 )';
</script>
@{
    string key = Samsung.Properties.Settings.Default.Environment == "statging" ? Samsung.Properties.Settings.Default.DataSiteKey_Development : Samsung.Properties.Settings.Default.DataSiteKey_Production;
}
@Html.Partial("_PartialPageTracking", null, new ViewDataDictionary { { "PageName", "qsuite-cam-nhan-cua-nguoi-trai-nghiem" } })
<div class="dgt_banner">
    <h2>Cảm nhận của người trải nghiệm</h2>
    <img src="@Url.Content("~/assets/images/banner_qsuite_review.jpg")">
</div>

<div class="buttons">
    <span class="dgt_arrow"></span>
</div>
<div class="dgt_write dgt_qsuite__write">
    <a href="#" target="_blank" class="dgt_btn dgt_btn__else dgt_btn_write" >VIẾT CẢM NHẬN CỦA BẠN</a>
    <div class="dgt_writearea">
        <input type="text"  name="name" class="name" placeholder="Tên của bạn" maxlength="100">
        <input type="text" name="email" class="email" placeholder="Email của bạn" maxlength="100">
        <textarea class="review_content" placeholder="Nội dung cảm nhận của bạn" name="content-review" maxlength="550"></textarea>
        <input type="hidden" name="review_qsuite" value="1"/>
        @if (Session["recaptcha"] != null)
        {
            <div class="g-recaptcha" data-sitekey="@key"></div>
        }
        
        <input type="submit" name="submit" class="dgt_btn" value="GỬI CẢM NHẬN">
    </div>
</div>
<ul class="dgt_list__review qsuite_review">
   @if (ListReview.Count > 0)
    {
        foreach (var review in ListReview)
        {
            var time = Samsung.Helper.Common.ParseDateToString(review.Created.Value, "dd/MM/yyyy h:mm", "");
            <li>
                <div class="dgt_info">
                    <h4> @review.Name<span><em>@time</em></span></h4>
                </div>
                <p>@review.ReviewContent</p>
            </li>
        }
    }
    else
    {
        <li>
            <p>Chưa có cảm nhận nào </p>
        </li>

    }
</ul>
@Html.Partial("_PartialFooter")