﻿@{
    ViewBag.Title = "Người Thắng Cuộc Trải Nghiệm QSuite|Samsung QLED TV";

    ViewBag.Desc = "Những khách hàng may mắn trải nghiệm cuộc sống thượng lưu tại các khách sạn đẳng cấp cùng QLED TV. Hãy khám phá cơ hội tiếp theo dành cho bạn!";
    ViewBag.Keyword = "trải nghiệm đẳng cấp, trải nghiệm 5 sao, ks 5 sao, samsung qled, tv qled, tv đẳng cấp, tv samsung";

    ViewBag.TitleSocial = "Người Thắng Cuộc Trải Nghiệm QSuite";
    ViewBag.DescSocial = "Những khách hàng may mắn trải nghiệm cuộc sống thượng lưu tại các khách sạn đẳng cấp cùng QLED TV. Hãy khám phá cơ hội tiếp theo dành cho bạn!";
    ViewBag.Image = Request.Url.GetLeftPart(UriPartial.Authority) + Samsung.Helper.UrlHelperPage.Webroot + "assets/images/fb/qsuite-share.jpg";
    
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    ViewBag.ClassCss = "dgtWinner";
}
@Html.Partial("_PartialPageTracking", null, new ViewDataDictionary { { "PageName", "winnerqsuite" } })
<h2>Chúc mừng người thắng cuộc chương trình <br/>"Trải nghiệm phong cách sống đỉnh cao"</h2>
<div class="dgt_winners js_dgt_winner__slider">
	<div class="dgt_winners__item js_dgt_winners__item">
		<div>
			<h3>Cao Thị Ngọc Bảo</h3>
			<div class="loader"></div>
			<p>Khách sạn JW Marriott</p>
			<span>Click vào để xem hình ảnh</span>
		</div>
	</div>
	
	<div class="dgt_winners__item js_dgt_winners__item">
		<div>
			<h3>Lê Thị Thanh Trúc</h3>
			<div class="loader"></div>
			<p>Khách sạn Le Méridien</p>
			<span>Click vào để xem hình ảnh</span>
		</div>
	</div>

	<div class="dgt_winners__item js_dgt_winners__item">
		<div>
			<h3>Nguyễn Thanh Thảo</h3>
			<div class="loader"></div>
			<p>Khách sạn JW Marriott</p>
			<span>Click vào để xem hình ảnh</span>
		</div>
	</div>

	<div class="dgt_winners__item js_dgt_winners__item">
		<div>
			<h3>Nguyễn Vân Trang</h3>
			<div class="loader"></div>
			<p>Khách sạn JW Marriott</p>
			<span>Click vào để xem hình ảnh</span>
		</div>
	</div>


</div> 


<div class="dgt_winners__content">
	<div class="dgt_winners__content_list">
		<article class="dgt_winners__content__item">
			<div class="dgt_winners__qsuitelist">
				<div><img src="assets/images/winner/JWMarriot/caothingocbao/1.jpg")"></div>
				<div><img src="assets/images/winner/JWMarriot/caothingocbao/2.jpg")"></div>
				<div><img src="assets/images/winner/JWMarriot/caothingocbao/3.jpg")"></div>
			</div>

	    <div class="dgt_winner__copy">
        <h3>Cao Thị Ngọc Bảo</h3>
        <p>Khách sạn JW Marriott</p>
	    </div>
		</article>

		<article class="dgt_winners__content__item">
			<div class="dgt_winners__qsuitelist">
				<div><img src="assets/images/winner/LeMeridien/lethithanhtruc/1.jpg")"></div>
				<div><img src="assets/images/winner/LeMeridien/lethithanhtruc/2.jpg")"></div>				
			</div>

	    <div class="dgt_winner__copy">
        <h3>Lê Thị Thanh Trúc</h3>
        <p>Khách sạn Le Méridien</p>
	    </div>
		</article>

		<article class="dgt_winners__content__item">
			<div class="dgt_winners__qsuitelist">
				<div><img src="assets/images/winner/JWMarriot/nguyenthanhthao/1.jpg")"></div>
				<div><img src="assets/images/winner/JWMarriot/nguyenthanhthao/2.jpg")"></div>
				<div><img src="assets/images/winner/JWMarriot/nguyenthanhthao/3.jpg")"></div>
			</div>

	    <div class="dgt_winner__copy">
        <h3>Nguyễn Thanh Thảo</h3>
				<p>Khách sạn JW Marriott</p>
	    </div>
		</article>
		<article class="dgt_winners__content__item">
			<div class="dgt_winners__qsuitelist">
				<div><img src="assets/images/winner/JWMarriot/nguyenvantrang/1.jpg")"></div>
				<div><img src="assets/images/winner/JWMarriot/nguyenvantrang/2.jpg")"></div>
			</div>

	    <div class="dgt_winner__copy">
        <h3>Nguyễn Vân Trang</h3>
				<p>Khách sạn JW Marriott</p>
	    </div>
		</article>

	</div>
	<span class="close-button"></span>
</div>

<div class="dgt_footer">
  <div class="dgt_contain">
    <div class="dgt_socials">
      <a href="https://www.facebook.com/SamsungVietnam" target="_blank" class="ql_fb" onclick="omniture_click('vn:trainghiemqled:menu:facebook');"></a>
      <a href="https://www.youtube.com/user/SamsungVietnam" target="_blank" class="ql_ytb" onclick="omniture_click('vn:trainghiemqled:menu:youtube');"></a>
    </div>
    <!-- <p>Liên hệ chúng tôi: <a href="mailto:info@samsung.com">info@samsung.com</a></p> -->
  </div>
</div>