﻿@{
    ViewBag.Title = "Người Thắng Cuộc Trải Nghiệm QHome | Samsung QLED TV";

    ViewBag.Desc = "Những khách hàng may mắn sở hữu phòng khách lý tưởng với phong cách đột phá từ QLED TV. Hãy khám phá cơ hội tiếp theo dành cho bạn!";
    ViewBag.Keyword = "qled tv, q style, samsung tv, qhome, samsung qled, trải nghiệm qled ";

    ViewBag.TitleSocial = "Người Thắng Cuộc Trải Nghiệm QHome ";
    ViewBag.DescSocial = "Những khách hàng may mắn sở hữu phòng khách lý tưởng với phong cách đột phá từ QLED TV. Hãy khám phá cơ hội tiếp theo dành cho bạn!";
    ViewBag.Image = Request.Url.GetLeftPart(UriPartial.Authority) + Samsung.Helper.UrlHelperPage.Webroot + "assets/images/fb/qhome-share.jpg";
    
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    ViewBag.ClassCss = "dgtWinner";
}

@Html.Partial("_PartialPageTracking", null, new ViewDataDictionary { { "PageName", "winnerqhome" } })
<h2>Chúc mừng người thắng cuộc chương trình <br/>"Kiến tạo phòng khách cùng QLED TV"</h2>
<div class="dgt_winners js_dgt_winner__slider">
	<div class="dgt_winners__item">
		<div>
			<h3>Đỗ Dzũ Khánh</h3>
			<div class="loader"></div>
			<p>P Bình Trưng Tây, Quận 2 TPHCM</p>
			<!-- <span>Click vào để xem hình ảnh</span> -->
		</div>
	</div>
	

	<div class="dgt_winners__item">
		<div>
			<h3>Phùng Hữu Thanh Huy</h3>
			<div class="loader"></div>
			<p>KDC Mega Village, P. Phú Hữu Q.9</p>
			<!-- <span>Click vào để xem hình ảnh</span> -->
		</div>
	</div>


</div> 


<div class="dgt_winners__content">
	<div class="dgt_winners__content_list">

		<article class="dgt_winners__content__item">

			<div class="dgt_winners__qsuitelist">
				<div><p class="comingsoon">Hình ảnh đang được cập nhật </p></div>
			</div>

	    <div class="dgt_winner__copy">
        <h3>Đỗ Dzũ Khánh</h3>
        <p>P Bình Trưng Tây, Quận 2 TPHCM</p>
	    </div>
		</article>

		<article class="dgt_winners__content__item">

			<div class="dgt_winners__qsuitelist">
				<div><p class="comingsoon">Hình ảnh đang được cập nhật </p></div>
			</div>

	    <div class="dgt_winner__copy">
        <h2>Phùng Hữu Thanh Huy</h2>
        <p> KDC Mega Village, P. Phú Hữu Q.9</p>
	    </div>
		</article>
		

	</div>
	<span class="close-button"></span>
</div>

<div class="dgt_footer">
  <div class="dgt_contain">
    <div class="dgt_socials">
      <a href="https://www.facebook.com/SamsungVietnam" target="_blank" class="ql_fb" onclick="omniture_click('vn:trainghiemqled:menu:facebook');"></a>
      <a href="https://www.youtube.com/user/SamsungVietnam" target="_blank" class="ql_ytb" onclick="omniture_click('vn:trainghiemqled:menu:youtube');"></a>
    </div>
    <!-- <p>Liên hệ chúng tôi: <a href="mailto:info@samsung.com">info@samsung.com</a></p> -->
  </div>
</div>
		


