﻿@{
    ViewBag.Title = "Trải Nghiệm Điện Ảnh Đỉnh Cao | Samsung QLED TV";
    ViewBag.TitleSocial = "Trải Nghiệm Điện Ảnh Đỉnh Cao | Samsung QLED TV";
    ViewBag.DescSocial = "Samsung QLED TV mang đến màu sắc hoàn hảo và trải nghiệm xem đặc biệt sâu hơn, thật hơn với độ sắc nét hoàn hảo của từng khung hình bất kể ngày đêm. Khám phá ngay!";
    ViewBag.Image = Request.Url.GetLeftPart(UriPartial.Authority) + Samsung.Helper.UrlHelperPage.Webroot + "assets/images/fb/qled-share.jpg";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

@if (Samsung.Properties.Settings.Default.Environment.Equals("statging"))
{
    <!-- Omniture -->
<script type="text/javascript">
    var OMNI_CAMPAIGN_NAME = "tv:trainghiemqled";
    var OMNI_PAGE_NAME = "home";
    s.channel = "vn:campaign";
    s.pageName = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    s.hier1 = "vn>campaign>savina>" + OMNI_CAMPAIGN_NAME + ">" + OMNI_PAGE_NAME;
    s.prop1 = "vn";
    s.prop2 = "vn:campaign";
    s.prop3 = "vn:campaign:savina";
    s.prop4 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + "";
    s.prop5 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    function omniture_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar33,events";
        s.linkTrackEvents = "event45";
        s.eVar33 = ClickName;
        s.events = "event45";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }


    function engagement_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar35,eVar41,products,events";
        s.linkTrackEvents = "event35";
        var evarData = ClickName.split("|");
        s.eVar35 = "buy now";
        s.eVar41 = evarData[0];
        s.products = evarData[1];
        s.events = "event35";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }
    var s_code = s.t();
    if (s_code) document.write(s_code);
</script>
<script language="JavaScript" type="text/javascript">
    if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
</script>
<noscript><a href="http://www.omniture.com" title="Web Analytics"><img
            src="http://nmetrics.samsung.com/b/ss/ssmicrositetest/1/H.24--NS/0" height="1" width="1"
            border="0" alt="dot"/></a></noscript>
<!--// Omniture -->

}
else
{ 
<!-- Omniture -->
<script type="text/javascript">
    var OMNI_CAMPAIGN_NAME = "tv:trainghiemqled";
    var OMNI_PAGE_NAME = "home";
    s.channel = "vn:campaign";
    s.pageName = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    s.hier1 = "vn>campaign>savina>" + OMNI_CAMPAIGN_NAME + ">" + OMNI_PAGE_NAME;
    s.prop1 = "vn";
    s.prop2 = "vn:campaign";
    s.prop3 = "vn:campaign:savina";
    s.prop4 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + "";
    s.prop5 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    function omniture_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar33,events";
        s.linkTrackEvents = "event45";
        s.eVar33 = ClickName;
        s.events = "event45";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }


    function engagement_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar35,eVar41,products,events";
        s.linkTrackEvents = "event35";
        var evarData = ClickName.split("|");
        s.eVar35 = "buy now";
        s.eVar41 = evarData[0];
        s.products = evarData[1];
        s.events = "event35";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }
    var s_code = s.t();
    if (s_code) document.write(s_code);
</script>
<script language="JavaScript" type="text/javascript">
    if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
</script>
<noscript>
    <a href="http://www.omniture.com" title="Web Analytics">
        <img src="http://nmetrics.samsung.com/b/ss/sssamsung4vn,sssamsung4mstglobal/1/H.24--NS/0" height="1" width="1"
             border="0" alt="dot" />
    </a>
</noscript>
<!--// Omniture -->
}
<div class="dgt_kv">

    <div class="dgt_homebg before-after">
        <div class="before-after-half before-after-left">
            <img src="@Url.Content("~/assets/images/kv1.jpg")">
            <div class="dgt_cinema">
                <a href="@Url.RouteUrl("qcinema")" class="dgt_btn">Qcinema</a>
            </div>
        </div>
        <div class="before-after-half before-after-right">
            <img src="@Url.Content("~/assets/images/kv2.jpg")">
            <div class="dgt_else">
                <a href="javascript:;" class="dgt_btn">Qhome</a>
                <a href="javascript:;" class="dgt_btn">Qsuite</a>
            </div>
        </div>
        <div class="before-after-slider">
            <div class="before-after-scrubber">
                <span class="before-after-left-arrow"></span>
                <span class="before-after-right-arrow"></span>
            </div>
        </div>
    </div>

    <div class="dgt_copy">
        <h2>QLED TV</h2>
        <p>Đỉnh cao công nghệ TV</p>
    </div>

</div>

