﻿@using Newtonsoft.Json;
@{
    ViewBag.Title = "Thư Viện Phim QCinema | Samsung QLED TV";
    ViewBag.Desc = "Lựa chọn bộ phim yêu thích để thưởng thức trên QLED TV. Đặt vé ngay để tận hưởng trải nghiệm hoàn toàn miễn phí trong không gian rạp chiếu đẳng cấp.";
    ViewBag.Keyword = "qled tv, trải nghiệm samsung, tivi, đặt vé, xem phim miễn phí, tv samsung, phim moi";

    ViewBag.TitleSocial = "Đăng ký xem phim trải nghiệm TV Samsung Qled";
    ViewBag.DescSocial = "Samsung QLED TV mang đến màu sắc hoàn hảo và trải nghiệm xem đặc biệt sâu hơn, thật hơn với độ sắc nét hoàn hảo của từng khung hình bất kể ngày đêm. Khám phá ngay!";
    ViewBag.Image = Request.Url.GetLeftPart(UriPartial.Authority) + Samsung.Helper.UrlHelperPage.Webroot + "assets/images/fb/qled-share.jpg";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    //var json = Html.Raw(ViewBag.DictFilmShceduleHanoi);
}
@if (Samsung.Properties.Settings.Default.Environment.Equals("statging"))
{
<!-- Omniture -->
<script type="text/javascript">
    var OMNI_CAMPAIGN_NAME = "tv:trainghiemqled";
    var OMNI_PAGE_NAME = "thu-vien-phim";
    s.channel = "vn:campaign";
    s.pageName = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    s.hier1 = "vn>campaign>savina>" + OMNI_CAMPAIGN_NAME + ">" + OMNI_PAGE_NAME;
    s.prop1 = "vn";
    s.prop2 = "vn:campaign";
    s.prop3 = "vn:campaign:savina";
    s.prop4 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + "";
    s.prop5 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    function omniture_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar33,events";
        s.linkTrackEvents = "event45";
        s.eVar33 = ClickName;
        s.events = "event45";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }

    function engagement_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar35,eVar41,products,events";
        s.linkTrackEvents = "event35";
        var evarData = ClickName.split("|");
        s.eVar35 = "buy now";
        s.eVar41 = evarData[0];
        s.products = evarData[1];
        s.events = "event35";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }
    var s_code = s.t();
    if (s_code) document.write(s_code);
</script>
<script language="JavaScript" type="text/javascript">
    if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
</script>
<noscript>
    <a href="http://www.omniture.com" title="Web Analytics">
        <img src="http://nmetrics.samsung.com/b/ss/ssmicrositetest/1/H.24--NS/0" height="1" width="1"
             border="0" alt="dot" />
    </a>
</noscript>
<!--// Omniture -->
}
else {
<!-- Omniture -->
<script type="text/javascript">
    var OMNI_CAMPAIGN_NAME = "tv:trainghiemqled";
    var OMNI_PAGE_NAME = "thu-vien-phim";
    s.channel = "vn:campaign";
    s.pageName = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    s.hier1 = "vn>campaign>savina>" + OMNI_CAMPAIGN_NAME + ">" + OMNI_PAGE_NAME;
    s.prop1 = "vn";
    s.prop2 = "vn:campaign";
    s.prop3 = "vn:campaign:savina";
    s.prop4 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + "";
    s.prop5 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    function omniture_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar33,events";
        s.linkTrackEvents = "event45";
        s.eVar33 = ClickName;
        s.events = "event45";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }

    function engagement_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar35,eVar41,products,events";
        s.linkTrackEvents = "event35";
        var evarData = ClickName.split("|");
        s.eVar35 = "buy now";
        s.eVar41 = evarData[0];
        s.products = evarData[1];
        s.events = "event35";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }
    var s_code = s.t();
    if (s_code) document.write(s_code);
</script>
<script language="JavaScript" type="text/javascript">
    if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
</script>
<noscript>
    <a href="http://www.omniture.com" title="Web Analytics">
        <img src="http://nmetrics.samsung.com/b/ss/sssamsung4vn,sssamsung4mstglobal/1/H.24--NS/0" height="1" width="1"
             border="0" alt="dot" />
    </a>
</noscript>
<!--// Omniture -->
}
<!--<div class="dgt_filter" style="display:none;">
    <div class="select_filter">
        <select class="filter-cinema">
            <option value="">RẠP PHIM</option>
            <option value="1">Hà Nội </option>
            <option value="2">Hồ Chí Minh </option>
        </select>
    </div>
    <div class="select_filter">
        <select class="filter-date">
            <option value="">Lựa chọn ngày xem phim</option>
            
        </select>
    </div>
    <div class="select_filter">
        <select class="filter-time">
            <option value="">Lựa chọn giờ xem phim</option>
        </select>
    </div>
</div>
    -->
<div class="dgt_library__wrapper">    
    <section class="dgt_library js_dgt__library">
        <div class="luc-fix-slide" data-idfilm="1">
            <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[0] })"><img src="assets/images/poster1.jpg" class="thumb"></a>
            <div class="copy">
                <h4>dạ cổ hoài lang</h4>

                <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[0] })" class="dgt_btn" onclick="omniture_click('vn:trainghiemqled:thuvienphim:datve:dacohoailang');">ĐẶT VÉ TRẢI NGHIỆM</a>
            </div>
        </div>
        <div class="luc-fix-slide" data-idfilm="2">
            <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[1] })"><img src="assets/images/poster5.jpg" class="thumb"></a>
            <div class="copy">
                <h4>kungfu yoga</h4>

                <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[1] })" class="dgt_btn" onclick="omniture_click('vn:trainghiemqled:thuvienphim:datve:kungfuyoga');">ĐẶT VÉ TRẢI NGHIỆM</a>
            </div>
        </div>
        <div class="luc-fix-slide" data-idfilm="5">
            <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[2] })"><img src="assets/images/poster6.jpg" class="thumb"></a>
            <div class="copy">
                <h4>now you see me</h4>

                <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[2] })" class="dgt_btn" onclick="omniture_click('vn:trainghiemqled:thuvienphim:datve:nowyouseeme');">ĐẶT VÉ TRẢI NGHIỆM</a>
            </div>
        </div>
        <div class="luc-fix-slide" data-idfilm="3">
            <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[3] })"><img src="assets/images/poster2.jpg" class="thumb"></a>
            <div class="copy">
                <h4>49 ngày 2</h4>

                <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[3] })" class="dgt_btn" onclick="omniture_click('vn:trainghiemqled:thuvienphim:datve:49ngay2');">ĐẶT VÉ TRẢI NGHIỆM</a>
            </div>
        </div>
        <div class="luc-fix-slide" data-idfilm="4">
            <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[4] })"><img src="assets/images/poster3.jpg" class="thumb"></a>
            <div class="copy">
                <h4>ender’s game</h4>

                <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[4] })" class="dgt_btn" onclick="omniture_click('vn:trainghiemqled:thuvienphim:datve:endergame');" >ĐẶT VÉ TRẢI NGHIỆM</a>
            </div>
        </div>
        


        <div class="luc-fix-slide" data-idfilm="6">
            <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[5] })"><img src="assets/images/poster4.jpg" class="thumb"></a>
            <div class="copy">
                <h4>The Expendables 3</h4>
                <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[5] })" class="dgt_btn" onclick="omniture_click('vn:trainghiemqled:thuvienphim:datve:theexpendables');">ĐẶT VÉ TRẢI NGHIỆM</a>
            </div>
        </div>
    </section>

    <span class="slick-prev slick-arrow" aria-label="Previous" role="button" onclick="omniture_click('vn:trainghiemqled:thu-vien-hinh-anh:slide-left');"></span>
    <span class="slick-next slick-arrow" aria-label="Next" role="button" onclick="omniture_click('vn:trainghiemqled:thu-vien-hinh-anh:slide-right');"></span>
</div>

<div id="luc_slide" style="display:none">

    <div class="luc-fix-slide" data-idfilm="1">
        <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[0] })"><img src="assets/images/poster1.jpg" class="thumb"></a>
        <div class="copy">
            <h4>dạ cổ hoài lang</h4>
            <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[0] })" class="dgt_btn">ĐẶT VÉ TRẢI NGHIỆM</a>
        </div>
    </div>
    <div class="luc-fix-slide" data-idfilm="2">
        <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[1] })"><img src="assets/images/poster5.jpg" class="thumb"></a>
        <div class="copy">
            <h4>kungfu yoga</h4>
            <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[1] })" class="dgt_btn">ĐẶT VÉ TRẢI NGHIỆM</a>
        </div>
    </div>
    <div class="luc-fix-slide" data-idfilm="5">
        <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[4] })"><img src="assets/images/poster6.jpg" class="thumb"></a>
        <div class="copy">
            <h4>now you see me 2</h4>
            <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[4] })" class="dgt_btn">ĐẶT VÉ TRẢI NGHIỆM</a>
        </div>
    </div>
    <div class="luc-fix-slide" data-idfilm="3">
        <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[2] })"><img src="assets/images/poster2.jpg" class="thumb"></a>
        <div class="copy">
            <h4>49 ngày 2</h4>
            <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[2] })" class="dgt_btn">ĐẶT VÉ TRẢI NGHIỆM</a>
        </div>
    </div>
    <div class="luc-fix-slide" data-idfilm="4">
        <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[3] })"><img src="assets/images/poster3.jpg" class="thumb"></a>
        <div class="copy">
            <h4>ender’s game</h4>
            <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[3] })" class="dgt_btn">ĐẶT VÉ TRẢI NGHIỆM</a>
        </div>
    </div>



    <div class="luc-fix-slide" data-idfilm="6">
        <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[5] })"><img src="assets/images/poster4.jpg" class="thumb"></a>
        <div class="copy">
            <h4>The Expendables 3</h4>
            <a href="@Url.RouteUrl("filmdetail", new { id = ViewBag.ListFilm[5] })" class="dgt_btn">ĐẶT VÉ TRẢI NGHIỆM</a>
        </div>
    </div>
</div>