﻿@{
    
    ViewBag.Title = "Thư Viện Hình Ảnh | Samsung QLED TV";

    ViewBag.Desc = "Hình ảnh người dùng tham gia trải nghiệm điện ảnh cùng QLED TV. ";
    ViewBag.Keyword = "thư viện hình ảnh, hình ảnh samsung, hình ảnh tv qled, trải nghiệm qled, tv samsung";
    
    ViewBag.TitleSocial = "Đăng ký xem phim trải nghiệm TV Samsung Qled";
    ViewBag.DescSocial = "Samsung QLED TV mang đến màu sắc hoàn hảo và trải nghiệm xem đặc biệt sâu hơn, thật hơn với độ sắc nét hoàn hảo của từng khung hình bất kể ngày đêm. Khám phá ngay!";
    ViewBag.Image = Request.Url.GetLeftPart(UriPartial.Authority) + Samsung.Helper.UrlHelperPage.Webroot + "assets/images/qled_picture_kv.jpg";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
@if (Samsung.Properties.Settings.Default.Environment.Equals("statging"))
{
<!-- Omniture -->
<script type="text/javascript">
    var OMNI_CAMPAIGN_NAME = "tv:trainghiemqled";
    var OMNI_PAGE_NAME = "thu-vien-hinh-anh";
    s.channel = "vn:campaign";
    s.pageName = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    s.hier1 = "vn>campaign>savina>" + OMNI_CAMPAIGN_NAME + ">" + OMNI_PAGE_NAME;
    s.prop1 = "vn";
    s.prop2 = "vn:campaign";
    s.prop3 = "vn:campaign:savina";
    s.prop4 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + "";
    s.prop5 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    function omniture_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar33,events";
        s.linkTrackEvents = "event45";
        s.eVar33 = ClickName;
        s.events = "event45";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }

    function engagement_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar35,eVar41,products,events";
        s.linkTrackEvents = "event35";
        var evarData = ClickName.split("|");
        s.eVar35 = "buy now";
        s.eVar41 = evarData[0];
        s.products = evarData[1];
        s.events = "event35";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }
    var s_code = s.t();
    if (s_code) document.write(s_code);
</script>
<script language="JavaScript" type="text/javascript">
    if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
</script>
<noscript>
    <a href="http://www.omniture.com" title="Web Analytics">
        <img src="http://nmetrics.samsung.com/b/ss/sssamsung4vn,sssamsung4mstglobal/1/H.24--NS/0" height="1" width="1"
             border="0" alt="dot" />
    </a>
</noscript>
}
else
{
    <!-- Omniture -->
<script type="text/javascript">
    var OMNI_CAMPAIGN_NAME = "tv:trainghiemqled";
    var OMNI_PAGE_NAME = "thu-vien-hinh-anh";
    s.channel = "vn:campaign";
    s.pageName = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    s.hier1 = "vn>campaign>savina>" + OMNI_CAMPAIGN_NAME + ">" + OMNI_PAGE_NAME;
    s.prop1 = "vn";
    s.prop2 = "vn:campaign";
    s.prop3 = "vn:campaign:savina";
    s.prop4 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + "";
    s.prop5 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    function omniture_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar33,events";
        s.linkTrackEvents = "event45";
        s.eVar33 = ClickName;
        s.events = "event45";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }

    function engagement_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar35,eVar41,products,events";
        s.linkTrackEvents = "event35";
        var evarData = ClickName.split("|");
        s.eVar35 = "buy now";
        s.eVar41 = evarData[0];
        s.products = evarData[1];
        s.events = "event35";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }
    var s_code = s.t();
    if (s_code) document.write(s_code);
</script>
<script language="JavaScript" type="text/javascript">
    if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
</script>
<noscript><a href="http://www.omniture.com" title="Web Analytics"><img
            src="http://nmetrics.samsung.com/b/ss/sssamsung4vn,sssamsung4mstglobal/1/H.24--NS/0" height="1" width="1"
            border="0" alt="dot"/></a></noscript>
<!--// Omniture -->

    
}
<!--// Omniture -->

<!--<h2>
    Thư viện ảnh
    <ul class="dgt_glr dgt_js_tabs">
        <li class="active" rel="dgt_photo">Hình ảnh </li>
        <li rel="dgt_video">Video</li>
    </ul>
</h2>

<div class="dgt_glr__item" id="dgt_photo">
    <div class="dgt_glr__copy"><img src="assets/images/glr_1.jpg"></div>
    <section class="dgt_library js_dgt__photo">
        <div><img src="assets/images/poster1.jpg" class="thumb" onclick="omniture_click('vn:trainghiemqled:thu-vien-hinh-anh:menu-hinhanh');"></div>
        <div><img src="assets/images/poster2.jpg" class="thumb" onclick="omniture_click('vn:trainghiemqled:thu-vien-hinh-anh:menu-hinhanh');"></div>
        <div><img src="assets/images/poster3.jpg" class="thumb" onclick="omniture_click('vn:trainghiemqled:thu-vien-hinh-anh:menu-hinhanh');"></div>
        <div><img src="assets/images/poster4.jpg" class="thumb" onclick="omniture_click('vn:trainghiemqled:thu-vien-hinh-anh:menu-hinhanh');"></div>
        <div><img src="assets/images/poster5.jpg" class="thumb" onclick="omniture_click('vn:trainghiemqled:thu-vien-hinh-anh:menu-hinhanh');"></div>
        <div><img src="assets/images/poster6.jpg" class="thumb" ></div>
    </section>
</div>

<div class="dgt_glr__item" id="dgt_video">
    <div class="dgt_glr__copy">
        <div class="dgt_ytb">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/VpBUfx9uVh0?autoplay=0&rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <section class="dgt_library js_dgt__video">
        <div data="VpBUfx9uVh0">
            <img src="assets/images/glr_1.jpg" class="thumb" onclick="omniture_click('vn:trainghiemqled:thu-vien-hinh-anh:menu-video');">
            <span class="dgt_play"></span>
        </div>
        <div data="mFqnsnnp5S0">
            <img src="assets/images/glr_1.jpg" class="thumb" onclick="omniture_click('vn:trainghiemqled:thu-vien-hinh-anh:menu-video');">
            <span class="dgt_play"></span>
        </div>
        <div data="VpBUfx9uVh0">
            <img src="assets/images/glr_1.jpg" class="thumb" onclick="omniture_click('vn:trainghiemqled:thu-vien-hinh-anh:menu-video');">
            <span class="dgt_play"></span>
        </div>
        <div data="mFqnsnnp5S0">
            <img src="assets/images/glr_1.jpg" class="thumb" onclick="omniture_click('vn:trainghiemqled:thu-vien-hinh-anh:menu-video');">
            <span class="dgt_play"></span>
        </div>
    </section>
</div>  -->

 <p class="dgt_comingsoon">Đang cập nhật</p>


<div class="dgt_footer">
  <div class="dgt_contain">
    <div class="dgt_socials">
      <a href="https://www.facebook.com/SamsungVietnam" target="_blank" class="ql_fb"></a>
      <a href="https://www.youtube.com/user/SamsungVietnam" target="_blank" class="ql_ytb"></a> 
    </div>
  </div>
</div>


