﻿@using Samsung.Models
@{
    List<Register> lr = (List<Register>)ViewBag.ListFilm;
    string d = ViewBag.Cinema;
    int FilmId = (int)ViewBag.FilmId;
}
<script src="@Url.Content("~/assets/js/libs/jquery-1.11.1.js")"></script>
<script src="@Url.Content("~/assets/js/jquery-ui-1.10.4.custom.min.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/assets/css/jquery-ui-1.10.4.custom.min.css")">
<script>
    var time = '@ViewBag.Time';
</script>
<form  method="post" action="@Url.Action("ListFilmFilter", "Home")">
@Html.AntiForgeryToken()
    <table>
        <tr>
            <td>Rạp phim</td>
            <td>
                <select name="cinema">
                    <option value=""> Chọn rạp chiếu phim </option>
                    <option @(d == "1" ? "selected=selected" : "") value="1"> Aeon Mall Hà Nội </option>
                    <option @(d == "2" ? "selected=selected" : "") value="2"> Cresent Mall Hồ Chí Minh </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Rạp phim</td>
            <td>
                <select name="filmid">
                    <option value=""> Chọn phim </option>
                    <option @(FilmId == 1 ? "selected=selectd" : "") value="1">Dạ cổ hoài lang</option>
                    <option @(FilmId == 2 ? "selected=selectd" : "") value="2">Kungfu Yoga</option>
                    <option @(FilmId == 3 ? "selected=selectd" : "") value="3">Now you see me 2</option>
                    <option @(FilmId == 4 ? "selected=selectd" : "") value="4">49 ngày 2</option>
                    <option @(FilmId == 5 ? "selected=selectd" : "") value="5">Ender's game</option>
                    <option @(FilmId == 6 ? "selected=selectd" : "") value="6">The Expendables 3</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Chọn ngày chiếu Phim</td>
            <td><input name="date" value="@ViewBag.Date" /></td>
        </tr>
        <tr>
            <td>
                Chọn giờ chiếu
            </td>
            <td>
                <select name="time">
                    <option value="">chọn giờ</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"  value="Tìm kiếm"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="@Url.Action("ListFilmFilter", "Home")">Reset Form</a>
            </td>
        </tr>
    </table>
</form>

@if (lr.Count>0)
{
    <p>Tổng số vé đã đăng ký:<span style="color:red;"> @ViewBag.TotalUser.ToString()</span></p>
    <p>Tổng số người đã đăng ký:<span style="color:red;"> @lr.Count</span></p>
    <table>
        <tr>
            <td>STT</td>
           <td>
               Họ tên
           </td> 
            <td>Email</td>
            <td>Số điện thoại</td>
            <td>Tên Phim</td>
            <td>Giờ chiếu</td>
            <td>Ngày chiếu</td>
            <td>Code</td>
            <td>Rạp chiếu </td>
            <td>Số người xem</td>
        </tr>
        @{
            int i = 0;
        }
        
        @foreach(var register in lr){i++;
            <tr>
                <td>@i</td>
                <td>@register.Name</td>
                <td>@register.Email</td>
                <td>@register.Phone</td>
                <td>@register.FilmId</td>
                <td>@register.DateView</td>
                <td>@register.TimeView</td>
                <td>@register.RegisterCode</td>
                <td>@register.CinameId</td>
                <td>@register.NumberPeople</td>
            </tr>
        }
    </table>
}
else
{
    <p>Không tìm thấy dữ liệu</p>
}
<script>
    var hn = '{"2017-05-06":[{"Time":"19:30","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":10}],"2017-05-07":[{"Time":"10:00","FilmId":3,"FilmName":"Now You See Me 2","Total":40},{"Time":"13:00","FilmId":6,"FilmName":"The Expendables 3","Total":40},{"Time":"15:45","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":40},{"Time":"17:30","FilmId":5,"FilmName":"Enders Game","Total":40},{"Time":"20:00","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":40}],"2017-05-08":[{"Time":"14:30","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":40},{"Time":"16:25","FilmId":3,"FilmName":"Now You See Me 2","Total":40},{"Time":"19:00","FilmId":6,"FilmName":"The Expendables 3","Total":40}],"2017-05-09":[{"Time":"14:00","FilmId":5,"FilmName":"Enders Game","Total":40},{"Time":"16:30","FilmId":6,"FilmName":"The Expendables 3","Total":40},{"Time":"19:20","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":40}],"2017-05-10":[{"Time":"14:40","FilmId":6,"FilmName":"The Expendables 3","Total":40},{"Time":"17:15","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":40},{"Time":"19:05","FilmId":5,"FilmName":"Enders Game","Total":40}],"2017-05-11":[{"Time":"14:30","FilmId":6,"FilmName":"The Expendables 3","Total":40},{"Time":"17:05","FilmId":3,"FilmName":"Now You See Me 2","Total":40},{"Time":"19:35","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":40}],"2017-05-12":[{"Time":"12:00","FilmId":3,"FilmName":"Now You See Me 2","Total":40},{"Time":"14:40","FilmId":5,"FilmName":"Enders Game","Total":40},{"Time":"17:10","FilmId":6,"FilmName":"The Expendables 3","Total":40},{"Time":"20:00","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":40}],"2017-05-13":[{"Time":"10:00","FilmId":5,"FilmName":"Enders Game","Total":40},{"Time":"12:30","FilmId":3,"FilmName":"Now You See Me 2","Total":40},{"Time":"15:00","FilmId":6,"FilmName":"The Expendables 3","Total":40},{"Time":"17:40","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":40},{"Time":"19:40","FilmId":2,"FilmName":"Kunfu Yoga","Total":40}],"2017-05-14":[{"Time":"10:00","FilmId":3,"FilmName":"Now You See Me 2","Total":40},{"Time":"12:40","FilmId":6,"FilmName":"The Expendables 3","Total":40},{"Time":"15:20","FilmId":5,"FilmName":"Enders Game","Total":40},{"Time":"17:40","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":40},{"Time":"19:40","FilmId":2,"FilmName":"Kunfu Yoga","Total":40}],"2017-05-15":[{"Time":"14:00","FilmId":3,"FilmName":"Now You See Me 2","Total":40},{"Time":"16:30","FilmId":5,"FilmName":"Enders Game","Total":40},{"Time":"19:00","FilmId":2,"FilmName":"Kunfu Yoga","Total":40}],"2017-05-16":[{"Time":"14:00","FilmId":2,"FilmName":"Kunfu Yoga","Total":40},{"Time":"16:30","FilmId":6,"FilmName":"The Expendables 3","Total":40},{"Time":"19:20","FilmId":2,"FilmName":"Kunfu Yoga","Total":40}],"2017-05-17":[{"Time":"14:30","FilmId":3,"FilmName":"Now You See Me 2","Total":40},{"Time":"17:00","FilmId":2,"FilmName":"Kunfu Yoga","Total":40},{"Time":"19:00","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":40}],"2017-05-18":[{"Time":"14:30","FilmId":5,"FilmName":"Enders Game","Total":40},{"Time":"16:50","FilmId":6,"FilmName":"The Expendables 3","Total":40},{"Time":"19:30","FilmId":4,"FilmName":"49 Ngày 2","Total":40}],"2017-05-19":[{"Time":"12:10","FilmId":2,"FilmName":"Kunfu Yoga","Total":40},{"Time":"14:20","FilmId":6,"FilmName":"The Expendables 3","Total":40},{"Time":"16:55","FilmId":3,"FilmName":"Now You See Me 2","Total":40},{"Time":"19:35","FilmId":4,"FilmName":"49 Ngày 2","Total":40}],"2017-05-20":[{"Time":"10:00","FilmId":2,"FilmName":"Kunfu Yoga","Total":30},{"Time":"12:10","FilmId":3,"FilmName":"Now You See Me 2","Total":30},{"Time":"14:40","FilmId":6,"FilmName":"The Expendables 3","Total":30},{"Time":"17:15","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":30},{"Time":"19:15","FilmId":4,"FilmName":"49 Ngày 2","Total":30}],"2017-05-21":[{"Time":"10:00","FilmId":4,"FilmName":"49 Ngày 2","Total":30},{"Time":"12:20","FilmId":6,"FilmName":"The Expendables 3","Total":30},{"Time":"15:05","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":30},{"Time":"17:05","FilmId":2,"FilmName":"Kunfu Yoga","Total":30},{"Time":"19:25","FilmId":4,"FilmName":"49 Ngày 2","Total":30}]}';
    var hnShc = JSON.parse(hn);
    var hcm = '{"2017-05-13":[{"Time":"19:30","FilmId":2,"FilmName":"Kunfu Yoga","Total":40}],"2017-05-14":[{"Time":"10:00","FilmId":3,"FilmName":"Now You See Me 2","Total":40},{"Time":"12:40","FilmId":6,"FilmName":"The Expendables 3","Total":40},{"Time":"15:25","FilmId":2,"FilmName":"Kunfu Yoga","Total":40},{"Time":"17:45","FilmId":5,"FilmName":"Enders Game","Total":40},{"Time":"19:40","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":40}],"2017-05-15":[{"Time":"14:30","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":40},{"Time":"16:25","FilmId":3,"FilmName":"Now You See Me 2","Total":40},{"Time":"19:00","FilmId":6,"FilmName":"The Expendables 3","Total":40}],"2017-05-16":[{"Time":"14:20","FilmId":5,"FilmName":"Enders Game","Total":40},{"Time":"16:50","FilmId":6,"FilmName":"The Expendables 3","Total":40},{"Time":"19:40","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":40}],"2017-05-17":[{"Time":"14:40","FilmId":2,"FilmName":"Kunfu Yoga","Total":40},{"Time":"17:00","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":40},{"Time":"19:00","FilmId":5,"FilmName":"Enders Game","Total":40}],"2017-05-18":[{"Time":"14:00","FilmId":6,"FilmName":"The Expendables 3","Total":40},{"Time":"16:35","FilmId":3,"FilmName":"Now You See Me 2","Total":40},{"Time":"19:05","FilmId":2,"FilmName":"Kunfu Yoga","Total":40}],"2017-05-19":[{"Time":"12:20","FilmId":3,"FilmName":"Now You See Me 2","Total":40},{"Time":"15:00","FilmId":5,"FilmName":"Enders Game","Total":40},{"Time":"17:30","FilmId":6,"FilmName":"The Expendables 3","Total":40},{"Time":"20:20","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":40}],"2017-05-20":[{"Time":"10:00","FilmId":5,"FilmName":"Enders Game","Total":30},{"Time":"12:20","FilmId":3,"FilmName":"Now You See Me 2","Total":30},{"Time":"14:50","FilmId":6,"FilmName":"The Expendables 3","Total":30},{"Time":"17:30","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":30},{"Time":"19:30","FilmId":4,"FilmName":"49 Ngày 2","Total":30}],"2017-05-21":[{"Time":"10:00","FilmId":3,"FilmName":"Now You See Me 2","Total":30},{"Time":"12:40","FilmId":6,"FilmName":"The Expendables 3","Total":30},{"Time":"15:20","FilmId":4,"FilmName":"49 Ngày 2","Total":30},{"Time":"17:30","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":30},{"Time":"19:30","FilmId":2,"FilmName":"Kunfu Yoga","Total":30}],"2017-05-22":[{"Time":"14:20","FilmId":3,"FilmName":"Now You See Me 2","Total":40},{"Time":"16:50","FilmId":5,"FilmName":"Enders Game","Total":40},{"Time":"19:20","FilmId":2,"FilmName":"Kunfu Yoga","Total":40}],"2017-05-23":[{"Time":"14:00","FilmId":4,"FilmName":"49 Ngày 2","Total":40},{"Time":"16:30","FilmId":6,"FilmName":"The Expendables 3","Total":40},{"Time":"19:20","FilmId":2,"FilmName":"Kunfu Yoga","Total":40}],"2017-05-24":[{"Time":"14:20","FilmId":3,"FilmName":"Now You See Me 2","Total":40},{"Time":"16:50","FilmId":2,"FilmName":"Kunfu Yoga","Total":40},{"Time":"18:50","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":40}],"2017-05-25":[{"Time":"14:30","FilmId":5,"FilmName":"Enders Game","Total":40},{"Time":"16:50","FilmId":4,"FilmName":"49 Ngày 2","Total":40},{"Time":"19:05","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":40}],"2017-05-26":[{"Time":"11:50","FilmId":2,"FilmName":"Kunfu Yoga","Total":40},{"Time":"14:00","FilmId":6,"FilmName":"The Expendables 3","Total":40},{"Time":"16:35","FilmId":3,"FilmName":"Now You See Me 2","Total":40},{"Time":"19:15","FilmId":4,"FilmName":"49 Ngày 2","Total":40}],"2017-05-27":[{"Time":"10:00","FilmId":2,"FilmName":"Kunfu Yoga","Total":30},{"Time":"12:20","FilmId":3,"FilmName":"Now You See Me 2","Total":30},{"Time":"14:50","FilmId":4,"FilmName":"49 Ngày 2","Total":30},{"Time":"17:10","FilmId":4,"FilmName":"49 Ngày 2","Total":30},{"Time":"19:30","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":30}],"2017-05-28":[{"Time":"10:00","FilmId":4,"FilmName":"49 Ngày 2","Total":30},{"Time":"12:20","FilmId":6,"FilmName":"The Expendables 3","Total":30},{"Time":"15:05","FilmId":1,"FilmName":"Dạ Cổ Hoài Lang","Total":30},{"Time":"17:05","FilmId":2,"FilmName":"Kunfu Yoga","Total":30},{"Time":"19:25","FilmId":4,"FilmName":"49 Ngày 2","Total":30}]}';
    var hcmSch = JSON.parse(hcm);
    var films = { 1: "Dạ Cổ Hoài Lang", 2: "Kunfu Yoga", 3: "Now You See Me 2", 4: "49 Ngày 2", 5: "Enders Game", 6: "The Expendables 3" };

    $(document).ready(function () {


        var cinema = $('select[name=cinema]').val();
        var dateText = $('input[name=date]').val();
        if (cinema != "" && dateText != "") {
            var listFilm = null;
            if (cinema == "1")
                listFilm = hnShc;
            else
                listFilm = hcmSch

            var opts = "<option value=''>chọn 1 giờ</option>";

            $.each(listFilm, function (index, object) {
                if (index == dateText) {
                    $.each(object, function (i, obj) {
                        opts += "<option value=" + obj.Time + ">" + obj.Time + "</option>";
                    });
                }
            });
            $('select[name=time]').html(opts);
            $('select[name=time]').val(time);
        }

        $('input[name=date]').datepicker({
            dateFormat: 'yy-mm-dd',
            onSelect: function (dateText) {
                
                var cinema = $('select[name=cinema]').val();
                if (cinema != "") {
                    var listFilm = null;
                    if (cinema == "1")
                        listFilm = hnShc;
                    else
                        listFilm = hcmSch

                    var opts = "<option value=''>chọn 1 giờ</option>";

                    $.each(listFilm, function (index,object) {
                        if (index == dateText) {
                            $.each(object, function (i,obj) {
                                opts += "<option value="+obj.Time+">"+obj.Time+"</option>";
                            });
                        }
                    });
                    $('select[name=time]').html(opts);
                }
            }
        })
    });
</script>
<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
    }
    td {
        border: 1px solid #ccc;
        padding: 5px;
    }
</style>
