﻿@using Samsung.Models
@{
    ViewBag.Title = "Đăng ký xem phim trải nghiệm TV Samsung Qled";

    ViewBag.Desc = "Cảm nhận của người xem khi trải nghiệm không gian điện ảnh đỉnh cao với QLED TV. Hãy cho chúng tôi biết cảm nhận của bạn!";
    ViewBag.Keyword = "đánh giá, trải nghiệm samsung, đánh giá tv, trai nghiem samsung, tv samsung, qled tv, tivi";
    
    ViewBag.TitleSocial = "Đăng ký xem phim trải nghiệm TV Samsung Qled";
    ViewBag.DescSocial = "Samsung QLED TV mang đến màu sắc hoàn hảo và trải nghiệm xem đặc biệt sâu hơn, thật hơn với độ sắc nét hoàn hảo của từng khung hình bất kể ngày đêm. Khám phá ngay!";
    ViewBag.Image = Request.Url.GetLeftPart(UriPartial.Authority) + Samsung.Helper.UrlHelperPage.Webroot + "assets/images/fb/qled-share.jpg";
    Layout = "~/Views/Shared/_MasterPage.cshtml";

    List<Review> ListReview = ViewBag.ListReview;
}
@if (Samsung.Properties.Settings.Default.Environment.Equals("statging"))
{
<!-- Omniture -->
<script type="text/javascript">
    var OMNI_CAMPAIGN_NAME = "tv:trainghiemqled";
    var OMNI_PAGE_NAME = "cam-nhan-cua-khach-hang";
    s.channel = "vn:campaign";
    s.pageName = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    s.hier1 = "vn>campaign>savina>" + OMNI_CAMPAIGN_NAME + ">" + OMNI_PAGE_NAME;
    s.prop1 = "vn";
    s.prop2 = "vn:campaign";
    s.prop3 = "vn:campaign:savina";
    s.prop4 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + "";
    s.prop5 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    function omniture_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar33,events";
        s.linkTrackEvents = "event45";
        s.eVar33 = ClickName;
        s.events = "event45";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }

    function engagement_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar35,eVar41,products,events";
        s.linkTrackEvents = "event35";
        var evarData = ClickName.split("|");
        s.eVar35 = "buy now";
        s.eVar41 = evarData[0];
        s.products = evarData[1];
        s.events = "event35";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }
    var s_code = s.t();
    if (s_code) document.write(s_code);
</script>
<script language="JavaScript" type="text/javascript">
    if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
</script>
<noscript><a href="http://www.omniture.com" title="Web Analytics"><img
            src="http://nmetrics.samsung.com/b/ss/ssmicrositetest/1/H.24--NS/0" height="1" width="1"
            border="0" alt="dot"/></a></noscript>
<!--// Omniture -->

}
else
{
    <script type="text/javascript">
    var OMNI_CAMPAIGN_NAME = "tv:trainghiemqled";
    var OMNI_PAGE_NAME = "cam-nhan-cua-khach-hang";
    s.channel = "vn:campaign";
    s.pageName = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    s.hier1 = "vn>campaign>savina>" + OMNI_CAMPAIGN_NAME + ">" + OMNI_PAGE_NAME;
    s.prop1 = "vn";
    s.prop2 = "vn:campaign";
    s.prop3 = "vn:campaign:savina";
    s.prop4 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + "";
    s.prop5 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    function omniture_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar33,events";
        s.linkTrackEvents = "event45";
        s.eVar33 = ClickName;
        s.events = "event45";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }

    function engagement_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar35,eVar41,products,events";
        s.linkTrackEvents = "event35";
        var evarData = ClickName.split("|");
        s.eVar35 = "buy now";
        s.eVar41 = evarData[0];
        s.products = evarData[1];
        s.events = "event35";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }
    var s_code = s.t();
    if (s_code) document.write(s_code);
</script>
<script language="JavaScript" type="text/javascript">
    if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
</script>
<noscript>
    <a href="http://www.omniture.com" title="Web Analytics">
        <img src="http://nmetrics.samsung.com/b/ss/sssamsung4vn,sssamsung4mstglobal/1/H.24--NS/0" height="1" width="1"
             border="0" alt="dot" />
    </a>
</noscript>
<!--// Omniture -->
    
}
<script>
    var urlWriteReview = '@Url.RouteUrl("writereview")';
</script>
<h2>Cảm nhận của khán giả
    <span style="font-size: 14px;">Cảm nhận của người xem khi trải nghiệm không gian điện ảnh đỉnh cao với QLED TV. Nếu bạn đã trải nghiệm, hãy nói cho chúng tôi biết cảm nhận của bạn nhé!</span>
</h2>
<div class="buttons">
    <span class="dgt_arrow"></span>
</div>
    <div class="dgt_write">
        <a href="#" target="_blank" class="dgt_btn dgt_btn__else dgt_btn_write" onclick="omniture_click('vn:trainghiemqled:cam-nhan-cua-khach-hang:vietcamnhan');">VIẾT CẢM NHẬN CỦA BẠN</a>
        <div class="dgt_writearea">
            <input type="text" name="name" class="name" placeholder="Tên của bạn" maxlength="100">
            <input type="text" name="email" class="email" placeholder="Email của bạn" maxlength="100">
            <textarea class="review_content" placeholder="Nội dung cảm nhận của bạn" name="content-review" maxlength="550"></textarea>
            <input type="submit" name="submit" class="dgt_btn" value="GỬI CẢM NHẬN" onclick="omniture_click('vn:trainghiemqled:cam-nhan-cua-khach-hang:guicamnhan');">
        </div>
    </div>
    <ul class="dgt_list__review">
            @if (ListReview.Count>0)
            {
                foreach (var review in ListReview)
                {
                    var time = Samsung.Helper.Common.ParseDateToString(review.Created.Value, "dd/MM/yyyy h:mm", "");
                <li>
                    <div class="dgt_info">
                        <h4> @review.Name<span>| <em>@time</em></span></h4>
                    </div>
                    <p>@review.ReviewContent</p>
                </li>
                }
           }
            else
            {
               <li>
                <p>Chưa có cảm nhận nào </p>
            </li>

            }
        </ul>
        <div class="dgt_footer">
      <div class="dgt_contain">
        <div class="dgt_socials">
          <a href="https://www.facebook.com/SamsungVietnam" class="ql_fb" targer="_blank"></a>
          <a href="https://www.youtube.com/user/SamsungVietnam" class="ql_ytb" targer="_blank"></a>
        </div>
        <!-- <p>Liên hệ chúng tôi: <a href="mailto:info@samsung.com">info@samsung.com</a></p> -->
      </div>
    </div>