﻿@{
    ViewBag.Title = "Đăng ký xem phim The expendables";
    Layout = "~/Views/Shared/_MasterPage.cshtml";

    ViewBag.TitleSocial = "Đăng kí thành công trải nghiệm điện ảnh 4k trên QLEDtv";
    ViewBag.DescSocial = "Trải nghiệm những thước phim chất lượng 4K của bộ phim The expendables thể hiện sống động tuyệt vời trên Samsung QLED TV";
    ViewBag.Image = Request.Url.GetLeftPart(UriPartial.Authority) + Samsung.Helper.UrlHelperPage.Webroot + "assets/images/fb/the-expendables2.jpg";


    int form = (int)ViewBag.Form;
}
@if (Samsung.Properties.Settings.Default.Environment.Equals("statging"))
{
<!-- Omniture -->
<script type="text/javascript">
    var OMNI_CAMPAIGN_NAME = "tv:trainghiemqled";
    var OMNI_PAGE_NAME = "phim:the-expendables-3";
    s.channel = "vn:campaign";
    s.pageName = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    s.hier1 = "vn>campaign>savina>" + OMNI_CAMPAIGN_NAME + ">" + OMNI_PAGE_NAME;
    s.prop1 = "vn";
    s.prop2 = "vn:campaign";
    s.prop3 = "vn:campaign:savina";
    s.prop4 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + "";
    s.prop5 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    function omniture_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar33,events";
        s.linkTrackEvents = "event45";
        s.eVar33 = ClickName;
        s.events = "event45";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }

    function engagement_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar35,eVar41,products,events";
        s.linkTrackEvents = "event35";
        var evarData = ClickName.split("|");
        s.eVar35 = "buy now";
        s.eVar41 = evarData[0];
        s.products = evarData[1];
        s.events = "event35";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }
    var s_code = s.t();
    if (s_code) document.write(s_code);
</script>
<script language="JavaScript" type="text/javascript">
    if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
</script>
<noscript>
    <a href="http://www.omniture.com" title="Web Analytics">
        <img src="http://nmetrics.samsung.com/b/ss/sssamsung4vn,sssamsung4mstglobal/1/H.24--NS/0" height="1" width="1"
             border="0" alt="dot" />
    </a>
</noscript>
<!--// Omniture -->
}else{
    <!-- Omniture -->
<script type="text/javascript">
    var OMNI_CAMPAIGN_NAME = "tv:trainghiemqled";
    var OMNI_PAGE_NAME = "phim:the-expendables-3";
    s.channel = "vn:campaign";
    s.pageName = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    s.hier1 = "vn>campaign>savina>" + OMNI_CAMPAIGN_NAME + ">" + OMNI_PAGE_NAME;
    s.prop1 = "vn";
    s.prop2 = "vn:campaign";
    s.prop3 = "vn:campaign:savina";
    s.prop4 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + "";
    s.prop5 = "vn:campaign:savina:" + OMNI_CAMPAIGN_NAME + ":" + OMNI_PAGE_NAME;
    function omniture_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar33,events";
        s.linkTrackEvents = "event45";
        s.eVar33 = ClickName;
        s.events = "event45";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }

    function engagement_click(ClickName) {
        var s = s_gi(s_account);
        s.linkTrackVars = "eVar35,eVar41,products,events";
        s.linkTrackEvents = "event35";
        var evarData = ClickName.split("|");
        s.eVar35 = "buy now";
        s.eVar41 = evarData[0];
        s.products = evarData[1];
        s.events = "event35";
        s.tl(this, 'o', ClickName);
        s.linkTrackVars = "none";
        s.linkTrackEvents = "none";
    }
    var s_code = s.t();
    if (s_code) document.write(s_code);
</script>
<script language="JavaScript" type="text/javascript">
    if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
</script>
<noscript><a href="http://www.omniture.com" title="Web Analytics"><img
            src="http://nmetrics.samsung.com/b/ss/ssmicrositetest/1/H.24--NS/0" height="1" width="1"
            border="0" alt="dot"/></a></noscript>
<!--// Omniture -->
    
}

<div class="dgt_tv__booking">
    <div class="dgt_tv__trailer">
        <div class="ytb">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/YvMgTm5P9GQ?autoplay=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="cta">
            <a href="http://www.samsung.com/vn/tvs/qled-q8c/QA75Q8CAMKXXV/"  target="_blank" class="dgt_btn dgt_btn__else btn-explore" onclick="omniture_click('vn:trainghiemqled:phim:(@ViewBag.FilmName):khamphaqled');engagement_click('QA75Q8CAMKXXV|;QA75Q8CAMK');">Đặt Mua <span>QLED TV</span></a>
            <a href="#" class="dgt_btn dgt_btn__else btn-booknow" onclick="omniture_click('vn:trainghiemqled:phim:(@ViewBag.FilmName):datve-begin');">ĐẶT VÉ TRẢI NGHIỆM</a>
        </div>
    </div>
    <div class="buttons">
        <span class="dgt_arrow"></span>
    </div>
</div>

<div class="dgt_movie__detail">

    <h3>Thưởng thức trọn vẹn bộ phim <br />bạn chọn với QLED TV</h3>

    <div class="dgt_movie__copy">
        <h6>Quantum Dot</h6>
        <p>Công nghệ Quantum dot thế hệ mới đã tạo ra dòng TV quyền năng nhất từ trước đến giờ, tái hiện sắc màu hoàn hảo thật như cuộc sống, giúp bạn trải nghiệm những bộ phim với chất lượng hình ảnh chuẩn Hollywood ngay trên QLED TV</p>
    </div>

    <div class="dgt_comparasion__slider before-after">
        <div class="before-after-half before-after-left">
            <img src="assets/images/thumb4.jpg" />
        </div>
        <div class="before-after-half before-after-right">
            <img src="assets/images/thumb4-1.jpg" />
        </div>
        <div class="before-after-slider">
            <div class="before-after-scrubber">
                <span class="before-after-left-arrow"></span>
                <span class="before-after-right-arrow"></span>
            </div>
        </div>
    </div>

    <div class="dgt_movie__copy" id="dgt_loa">
        <h6>HDR 1500</h6>
        <p>Công nghệ Q HDR 1500 thể hiện rõ từng chi tiết hình ảnh ẩn sâu trong bóng tối hoặc bị loá sáng bởi ánh nắng rực rỡ, mang lại trải nghiệm chân thực đúng với ý định của các nhà sản xuất phim</p>
    </div>

    <h3 class="dgt_br">Hình ảnh đỉnh cao phải đi kèm âm thanh đỉnh cao. <br />Dàn âm thanh chuẩn Dolby Atmos HW-K950</h3>
    <a href="http://www.samsung.com/vn/audio-video/soundbar/"  target="_blank" class="dgt_btn dgt_btn__else" onclick="omniture_click('vn:trainghiemqled:phim:(@ViewBag.FilmName):khamphasoundbar');engagement_click('HW-MS6501/XV|;HW-MS6501');">Đặt Mua <span>Soundbar</span></a>

    <img src="assets/images/loa.png" class="loa">
</div>

@if (form == 1)
{
<div class="dgt_booking__wrap">

    <div class="dgt_booking">
        @Html.Partial("_PartialPageFilterForm")
        <p class="dgt_count">Số lượng vé còn <strong>12</strong> vé</p>
        <p class="thumb"><img src="assets/images/poster4.jpg"></p>
        <div class="dgt_form__booking">
            <h4>THE EXPANDEBLES 3 ( 2016 )</h4>
            <p>Một bộ phim hành động xoay quanh biệt đội có nhiệm vụ vượt qua hiểm nguy để xâm nhập một quốc gia Nam Mỹ và lật đổ nhà độc tài tàn nhẫn đang trị vì.</p>

            @Html.Partial("_PartialForm")
        </div>
    </div>

    <div class="dgt_library__wrapper">
    @Html.Partial("_PartialListFilm")
    <span class="slick-prev slick-arrow" aria-label="Previous" role="button" onclick="omniture_click('vn:trainghiemqled:phim:the-expendables-3:expendables:slideleft');"></span>
    <span class="slick-next slick-arrow" aria-label="Next" role="button" onclick="omniture_click('vn:trainghiemqled:phim:the-expendables-3:expendables:right');"></span>
    </div>
</div>
}

<div class="dgt_footer">
  <div class="dgt_contain">
    <div class="dgt_socials">
        <a href="https://www.facebook.com/SamsungVietnam" target="_blank" class="ql_fb" onclick="omniture_click('vn:trainghiemqled:footer:facebook');"></a>
        <a href="https://www.youtube.com/user/SamsungVietnam" target="_blank" class="ql_ytb" onclick="omniture_click('vn:trainghiemqled:footer:youtube');"></a>
    </div>
  </div>
</div>